._18t1hph {
  height: 65px !important;
}
._etlemv {
  -webkit-box-pack: justify !important;
  background: #ffffff !important;
  border-bottom: 1px solid #e4e4e4 !important;
  left: 0px !important;
  height: 65px !important;
  display: flex !important;
  justify-content: space-between !important;
}
