.d-none {
  display: none !important;
}

.w-100 {
  width: 100% !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

@media (min-width: 744px) {
  .d-md-block {
    display: block !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-none {
    display: none !important;
  }
}
