.d-none {
  display: none !important;
}

.w-100 {
  width: 100% !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.mb-1 {
  margin-bottom: 0.5rem !important;
}

.flip-vertical {
  transform: rotate(180deg);
}

.mr-0 {
  margin-right: 0 !important;
}

.ml-16 {
  margin-left: 16px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

@media (min-width: 744px) {
  .d-md-block {
    display: block !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }

  .d-md-none {
    display: none !important;
  }
}

@media (max-width: 744px) {
  .row-reverse-xs {
    flex-direction: row-reverse;
  }
}
