._88dcy8g {
  margin-top: 0px !important;
  margin-left: -24px !important;
  margin-right: -24px !important;
  overflow-y: hidden !important;
}
@media (min-width: 744px) {
  ._88dcy8g {
    margin-left: -8px !important;
    margin-right: -8px !important;
    overflow: hidden !important;
  }
}
._dmnee72 {
  padding: 0px 18px 30px !important;
  transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s,
    transform 0.5s ease 0s !important;
  white-space: nowrap !important;
  overflow-x: auto !important;
  margin-bottom: -30px !important;
}
@media (min-width: 744px) {
  ._dmnee72 {
    margin-bottom: 0px !important;
    padding: 0px !important;
    overflow: visible !important;
  }
}
._1lhsce {
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  margin-left: auto !important;
}
._1f6afmx2 {
  display: inline-block !important;
  height: 32px !important;
  width: 1px !important;
  margin-right: 16px !important;
  padding: 0px !important;
  border: none !important;
}
._1qi0sj8 {
  appearance: none !important;
  display: inline-block !important;
  border-radius: 50% !important;
  border: none !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(34, 34, 34) !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  position: relative !important;
  background: transparent !important;
  transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s,
    transform 0.25s ease 0s !important;
}
._7ts20mk {
  padding: 0px 18px 30px !important;
  transition: -ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s,
    transform 0.5s ease 0s !important;
  white-space: nowrap !important;
  overflow-x: auto !important;
  margin-bottom: -30px !important;
  display: flex !important;
}
@media (min-width: 744px) {
  ._7ts20mk {
    margin-bottom: 0px !important;
    padding: 0px !important;
    overflow: visible !important;
  }
}
._1l1vk8w {
  margin-right: 16px !important;
  white-space: nowrap !important;
}
._3d8119q {
  display: inline-block !important;
  vertical-align: top !important;
  white-space: normal !important;
}
@media (min-width: 1285px) and (max-width: 1659px) {
  ._3d8119q {
    width: 33.3333% !important;
  }
}
._1ilrlnv {
  width: 100% !important;
  height: 100% !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
}
@media (min-width: 744px) {
  ._1ilrlnv {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
._1mx6kqf {
  position: relative !important;
  width: 100% !important;
  z-index: 0 !important;
  padding-top: var(--dls-basecard-padding-top) !important;
}
._1szwzht {
  position: absolute !important;
  inset: 0px !important;
  height: 100% !important;
  width: 100% !important;
}
._ttw0d {
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
}
._15tommw {
  display: block !important;
  height: 100% !important;
  width: 100% !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 1 !important;
}
._yydl86 {
  width: 100% !important;
  height: 100% !important;
  white-space: nowrap !important;
}
._1na7kj9b {
  display: inline-block !important;
  height: 100% !important;
  width: 100% !important;
  vertical-align: middle !important;
}
._6tbg2q {
  height: 0px !important;
  width: 0px !important;
  position: absolute !important;
}
@supports (object-fit: cover) {
  ._6tbg2q {
    height: 100% !important;
    width: 100% !important;
  }
}
._15p4g025 {
  display: inline-block !important;
  vertical-align: bottom !important;
  height: 100% !important;
  width: 100% !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
@supports (object-fit: cover) {
  ._15p4g025 {
    display: none !important;
    background-image: none !important;
  }
}
._r752or {
  -webkit-box-pack: center !important;
  -webkit-box-align: end !important;
  align-items: flex-end !important;
  display: flex !important;
  justify-content: center !important;
  height: 100% !important;
}
._szn05y {
  display: flex !important;
  overflow: hidden !important;
  padding-bottom: 12px !important;
  max-width: 55px !important;
}
@supports (overflow: clip) {
  ._szn05y {
    overflow: clip !important;
  }
}
._1b2klj3 {
  -webkit-box-pack: center !important;
  -webkit-box-align: end !important;
  align-items: flex-end !important;
  display: flex !important;
  justify-content: center !important;
  list-style-type: none !important;
  margin: 0px !important;
  padding: 0px !important;
  transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
}
._4o74ccl {
  background: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  height: 6px !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  min-width: 6px !important;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
  width: 6px !important;
  opacity: 1 !important;
}
._1k9ksvh {
  background: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  height: 6px !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  min-width: 6px !important;
  opacity: 0.6 !important;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
  width: 6px !important;
}
._zj2jkyq {
  pointer-events: none !important;
  top: 0px !important;
  border: 0px !important;
  clip: rect(0px, 0px, 0px, 0px) !important;
  clip-path: inset(100%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0px !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
._tk908t {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  pointer-events: none !important;
}
@supports (--custom: properties) {
  ._tk908t {
    background: var(--color-clear, transparent) !important;
  }
}
._1d3iagv {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  appearance: none !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(34, 34, 34) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background-clip: padding-box !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px,
    rgb(0 0 0 / 18%) 0px 2px 4px !important;
  transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s,
    transform 0.25s ease 0s !important;
  width: 32px !important;
  height: 32px !important;
}
._o2sel7 {
  position: absolute !important;
  pointer-events: none !important;
  top: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
.c1th86dr[class][class] {
  --contentscroller_contain: none;
  --contentscroller_gap: 0px;
  --contentscroller_peek: 0;
  --contentscroller_scrollsnapstop: always;
  --contentscroller_visible-items: 1;
  --contentscroller_overflow: hidden;
  --contentscroller_content-visibility: auto;
  --contentscroller_controls_z-index: 1;
  --contentscroller_height: 100%;
}

.c1jlwpie[class][class] {
  --contentscroller_overflow: visible hidden;
  --contentscroller_contain: layout paint size;
}
.cini325[class][class] {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: var(--f-fw-z-a-i);
  white-space: nowrap;
}

.dir.cini325[class][class] {
  left: 0;
  right: 0;
}
.r1iccxvp[class][class] {
  display: block;
  width: 100%;
  height: 100%;
}
.nckwpl[class][class] {
  position: absolute;
  top: 50%;
  pointer-events: auto;
}

.dir.nckwpl[class][class] {
  transform: translateY(-50%);
}

.dir-ltr.n1a3583r[class][class] {
  right: var(--fgg-f-l-a);
}

.dir-rtl.n1a3583r[class][class] {
  left: var(--fgg-f-l-a);
}

.dir-ltr.n8ds5k6[class][class] {
  left: var(--fgg-f-l-a);
}

.dir-rtl.n8ds5k6[class][class] {
  right: var(--fgg-f-l-a);
}

.ni7lfv1[class][class] {
  opacity: 1;
  visibility: visible;
}

.dir.ni7lfv1[class][class] {
  animation-duration: 0.3s;
  animation-name: fade-in;
}

@media (prefers-reduced-motion: reduce) {
  .dir.ni7lfv1[class][class] {
    animation-duration: 0.00001s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nh16i3g[class][class] {
  opacity: 0;
}

.dir.nh16i3g[class][class] {
  animation-duration: 0;
}

.ns8ksw6[class][class] {
  visibility: hidden;
}
.lmc5dy3[class][class] {
  display: block;
  width: 100%;
  height: 100%;
}
.o1mwbk2f[class][class] {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: repeat(3, 1fr);
  top: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}

.dir.o1mwbk2f[class][class] {
  right: 0;
  left: 0;
}

.dir.o1s954ha[class][class] {
  border-bottom-left-radius: var(--h-l-f-om-o);
  border-bottom-right-radius: var(--h-l-f-om-o);
}

.dir-ltr.o1s954ha[class][class] {
  background: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, 0.25));
}

.dir-rtl.o1s954ha[class][class] {
  background: linear-gradient(-180deg, transparent 80%, rgba(0, 0, 0, 0.25));
}

.t1vo9cyh[class][class] {
  display: flex;
  justify-content: space-between;
}

.dir.t1vo9cyh[class][class] {
  padding: var(--media-overlay_top-row-padding);
}

.w7yq9yf[class][class] {
  pointer-events: auto;
}

.dir.w7yq9yf[class][class] {
  margin-top: -5px;
}

.dir-ltr.w7yq9yf[class][class] {
  margin-right: -3px;
}

.dir-rtl.w7yq9yf[class][class] {
  margin-left: -3px;
}

.m1uacxyo[class][class] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex: 1;
  visibility: hidden;
}

.mjw3bpi[class][class] {
  opacity: 1;
  visibility: visible;
}

.dir.mjw3bpi[class][class] {
  animation-duration: 0.3s;
  animation-name: fade-in;
}

@media (prefers-reduced-motion: reduce) {
  .dir.mjw3bpi[class][class] {
    animation-duration: 0.00001s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.miui26z[class][class] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dir.miui26z[class][class] {
  border: 0;
  padding: 0;
}

.nhc5psg[class][class] {
  pointer-events: auto;
}

.dir.nhc5psg[class][class] {
  border: 0;
  background-color: transparent;
}

.dir-ltr.n1f034oj[class][class] {
  margin-right: var(--fgg-f-l-a);
}

.dir-rtl.n1f034oj[class][class] {
  margin-left: var(--fgg-f-l-a);
}

.dir-ltr.ni0gafq[class][class] {
  margin-left: var(--fgg-f-l-a);
}

.dir-rtl.ni0gafq[class][class] {
  margin-right: var(--fgg-f-l-a);
}

.b1aww0y7[class][class] {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
@supports (aspect-ratio: 1 / 1) {
  .awuxh4x[class][class] {
    aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
  }
}

@supports not (aspect-ratio: 1 / 1) {
  .awuxh4x[class][class] {
    position: var(--aspect_ratio_wrapper-position_fallback, unset);
  }

  .dir.awuxh4x[class][class] {
    padding-top: var(--aspect_ratio_wrapper-padding_fallback, 0);
  }
}

.cw9aemg[class][class] {
  height: 100%;
  min-width: 0;
  position: unset;
}

@supports not (aspect-ratio: 1 / 1) {
  .cw9aemg[class][class] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  .dir.cw9aemg[class][class] {
    left: 0;
    right: 0;
  }
}
.s1yvqyx7[class][class] {
  grid-area: var(--contentscroller_scroller_grid-area, scroller);
  margin-block-start: var(--contentscroller_scroller_margin-block-start, unset);
  margin-block-end: var(--contentscroller_scroller_margin-block-end, unset);
  place-self: var(--contentscroller_scroller_place-self, auto);
}

.dir.s1yvqyx7[class][class] {
  margin-inline-start: var(
    --contentscroller_scroller_margin-inline-start,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
  margin-inline-end: var(
    --contentscroller_scroller_margin-inline-end,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
}

.c18vjgz6[class][class] {
  grid-area: var(--contentscroller_controls_grid-area, header);
  margin-block-start: var(--contentscroller_controls_margin-block-start, unset);
  margin-block-end: var(--contentscroller_controls_margin-block-end, unset);
  place-self: var(--contentscroller_controls_place-self, auto end);
  pointer-events: var(--contentscroller_controls_pointer-events);
  z-index: var(--contentscroller_controls_z-index, auto);
}

.dir.c18vjgz6[class][class] {
  margin-inline-start: var(
    --contentscroller_controls_margin-inline-start,
    unset
  );
  margin-inline-end: var(--contentscroller_controls_margin-inline-end, unset);
}

.h14s0ksq[class][class] {
  grid-area: var(--contentscroller_header_grid-area, header);
  place-self: var(--contentscroller_header_place-self, auto);
}

.rztl681[class][class] {
  display: grid;
  grid-template: var(
    --contentscroller_layout_grid-template,
    'header' 'scroller' 'footer' / minmax(0, 1fr)
  );
}
.c14whb16[class][class] {
  contain: var(--contentscroller_contain);
  contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
  content-visibility: var(--contentscroller_content-visibility);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(
    --contentscroller_auto-columns,
    calc(
      (
          100% - var(--contentscroller_gap, 16px) *
            (var(--contentscroller_visible-items, unset) - 1)
        ) / var(--contentscroller_visible-items, unset)
    )
  );
  gap: var(--contentscroller_gap, 16px);
  grid-template-rows: var(--contentscroller_rows, none);
  justify-content: flex-start;
  min-height: var(--contentscroller_min-height);
  height: var(--contentscroller_height);
  overflow: var(--contentscroller_overflow, auto hidden);
  overscroll-behavior-inline: contain;
  padding-block-start: var(--contentscroller_padding-block-start, unset);
  padding-block-end: var(--contentscroller_padding-block-end, unset);
  scroll-padding-inline: var(--contentscroller_peek, 32px);
  scrollbar-width: none;
  touch-action: var(--contentscroller_touch-action, pan-x pan-y pinch-zoom);
}

.dir.c14whb16[class][class] {
  margin: 0;
  padding-inline-start: var(
    --contentscroller_padding-inline-start,
    var(--contentscroller_peek, 32px)
  );
  padding-inline-end: var(
    --contentscroller_padding-inline-end,
    var(--contentscroller_peek, 32px)
  );
}

@supports (scroll-behavior: smooth) {
  .c14whb16[class][class] {
    scroll-snap-type: var(--contentscroller_scrollsnaptype, inline mandatory);
  }
}

.c14whb16[class][class]::-webkit-scrollbar {
  display: none;
}

.c14whb16[class][class] > :nth-child(n) {
  scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
}
.dbldy2s[class][class] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dir.dbldy2s[class][class] {
  border: 0;
  padding: 0;
}
.r14q8jov[class][class] {
  display: flex;
  gap: 1ch;
}

.b1abgaw2[class][class] {
  display: inline;
}

.dir.b1abgaw2[class][class] {
  border-radius: 1ch;
  border: 1px solid black;
  padding: 1ch;
}
.c1aqm3wp[class][class] {
  position: relative;
}

.cuq7bt8[class][class] {
  position: unset;
}

.l1d1x245[class][class] {
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  outline: none;
}

.dir.l1d1x245[class][class] {
  border-radius: var(--i-g-gvoq);
}

.dir-ltr.l1d1x245[class][class] {
  left: 0;
}

.dir-rtl.l1d1x245[class][class] {
  right: 0;
}

.dir.l1d1x245[class][class]::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}

.dir.l1d1x245[class][class]:focus::-moz-focus-inner {
  border: none;
}

.l1d1x245[class][class]:-moz-focusring {
  outline: none;
}

.dir.l1d1x245[class][class]:focus-visible {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8), 0 0 0 4px var(--f-k-smk-x);
}

@media (prefers-reduced-motion: reduce) {
  .dir.l1d1x245[class][class]:focus-visible {
    transition: none;
  }
}

.dir.l1d1x245[class][class]:focus[data-focus-visible-added] {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8), 0 0 0 4px var(--f-k-smk-x);
}

@media (prefers-reduced-motion: reduce) {
  .dir.l1d1x245[class][class]:focus[data-focus-visible-added] {
    transition: none;
  }
}

.dir.m5osunu[class][class] {
  margin-bottom: 10px;
}

.dir.pzfo4tk[class][class] {
  margin-top: var(--h-x-sf-jw);
}

.si3k14a[class][class] {
  font-size: var(--i-nh-zme);
  line-height: var(--gvarj-f);
  line-height: var(--gvarj-f);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

.dir.si3k14a[class][class] {
  margin-top: var(--fgg-f-l-a);
}

@supports (overflow: clip) {
  .si3k14a[class][class] {
    overflow: clip;
  }
}
.t8y64wl[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  color: var(--f-k-smk-x);
}

.dir.t8y64wl[class][class] {
  margin-top: var(--b-y-unon);
  margin-bottom: var(--fgg-f-l-a);
}

.b1x6vohp[class][class] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: var(--fgg-f-l-a);
}

.dir.b1x6vohp[class][class] {
  padding: 0;
}

.byyxxms[class][class] {
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  display: block;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: scroll;
  -webkit-scroll-padding: 50%;
  -moz-scroll-padding: 50%;
  -ms-scroll-padding: 50%;
  scroll-padding: 50%;
  -webkit-scroll-snap-type: x mandatory;
  -moz-scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
}

.byyxxms[class][class]::-webkit-scrollbar {
  display: none;
}

.b9b387l[class][class] {
  display: block;
}

.dir.b9b387l[class][class] {
  margin-bottom: var(--fgg-f-l-a);
}

.dir-ltr.b9b387l[class][class]:not(:last-of-type) {
  margin-right: var(--fgg-f-l-a);
}

.dir-rtl.b9b387l[class][class]:not(:last-of-type) {
  margin-left: var(--fgg-f-l-a);
}

.bbzfra9[class][class] {
  display: inline-block;
}

.dir.bbzfra9[class][class] {
  margin-top: 0;
}

.b1gud8iv[class][class] {
  font-size: var(--f-cv-j-j-p);
  line-height: var(--f-l-h-bac);
  white-space: nowrap;
}
.h1hdfvnt[class][class] {
  scrollbar-width: none;
}

.h1hdfvnt[class][class]::-webkit-scrollbar {
  display: none;
}
.cuu4odx[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  align-items: center;
  display: flex;
  width: 100%;
}

.dir-ltr.cuu4odx[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.cuu4odx[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}

.cgi6leq[class][class] {
  font-size: var(--f-cv-j-j-p);
  line-height: var(--f-l-h-bac);
}

.c1frjvtt[class][class] {
  opacity: 1;
  visibility: visible;
  visibility: unset;
}

.dir.c1frjvtt[class][class] {
  animation-duration: 0.3s;
  animation-name: fade-in;
}

@media (prefers-reduced-motion: reduce) {
  .dir.c1frjvtt[class][class] {
    animation-duration: 0.00001s;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dir-ltr.resz8wt[class][class] {
  margin-right: 3px;
}

.dir-rtl.resz8wt[class][class] {
  margin-left: 3px;
}

.mj1p6c8[class][class] {
  line-height: var(--j-p-z-kco);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--fo-jk-r-s);
}

.dir-ltr.mj1p6c8[class][class] {
  margin-right: 3px;
}

.dir-rtl.mj1p6c8[class][class] {
  margin-left: 3px;
}

@supports (overflow: clip) {
  .mj1p6c8[class][class] {
    overflow: clip;
  }
}

.ma5pjgj[class][class] {
  line-height: var(--f-l-h-bac);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@supports (overflow: clip) {
  .ma5pjgj[class][class] {
    overflow: clip;
  }
}

.t5bjjeg[class][class] {
  line-height: var(--j-p-z-kco);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--f-k-smk-x);
}

@supports (overflow: clip) {
  .t5bjjeg[class][class] {
    overflow: clip;
  }
}

.tlu87mv[class][class] {
  line-height: var(--f-l-h-bac);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

@supports (overflow: clip) {
  .tlu87mv[class][class] {
    overflow: clip;
  }
}

.i1wgresd[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  line-height: var(--j-p-z-kco);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  min-height: var(--j-p-z-kco);
  color: var(--fo-jk-r-s);
  font-weight: var(--e-y-j-d-v-j);
}

.dir-ltr.i1wgresd[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.i1wgresd[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}

@supports (overflow: clip) {
  .i1wgresd[class][class] {
    overflow: clip;
  }
}
.s6xnzsn[class][class] {
  width: var(--horizontal-separator_width);
}

.dir.s6xnzsn[class][class] {
  border-top: 1px solid var(--j-qkgmf);
}

.dir-ltr.s6xnzsn[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.s6xnzsn[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}
.s1p9ejq8[class][class].i1wgresd[class][class] {
  color: var(--f-k-smk-x);
}

.s1p9ejq8[class][class].i1wgresd[class][class] .mp2hv9t[class][class] {
  text-decoration: line-through;
}
.v1b5d4we[class][class] .c1lw8ge4[class][class] {
  min-height: 0;
}

.dir-ltr.v1b5d4we[class][class] .c1lw8ge4[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.v1b5d4we[class][class] .c1lw8ge4[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}

.v1b5d4we[class][class] .c78fjv7[class][class] {
  position: static;
}

.dir-ltr.v1b5d4we[class][class] .iju2wmg[class][class] {
  margin-right: var(--h-x-sf-jw);
}

.dir-rtl.v1b5d4we[class][class] .iju2wmg[class][class] {
  margin-left: var(--h-x-sf-jw);
}

.v1b5d4we[class][class] .sdinebx[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--f-k-smk-x);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 24px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  pointer-events: none;
}

.dir.v1b5d4we[class][class] .sdinebx[class][class] {
  background-color: var(--f-mkcy-f);
  border: 1px solid var(--j-qkgmf);
  border-radius: var(--h-l-f-om-o);
  cursor: default;
  padding: 3px var(--fgg-f-l-a);
}

.v1b5d4we[class][class] .s6qms7[class][class] {
  visibility: visible;
}

.v1b5d4we[class][class] .s1sphtog[class][class] {
  display: none;
}

.v1b5d4we[class][class] .e1vk1vl4[class][class] {
  font-weight: var(--jx-zk-pv);
  white-space: nowrap;
}

.v1b5d4we[class][class] .s1j6z33w[class][class] {
  font-weight: var(--e-y-j-d-v-j);
  white-space: nowrap;
  color: var(--fo-jk-r-s);
}

.v1b5d4we[class][class] .sf9lznf[class][class] {
  color: var(--j-qkgmf);
}

.dir.v1b5d4we[class][class] .sf9lznf[class][class] {
  margin-left: 6px;
  margin-right: 6px;
}
.l1ffp9n[class][class] {
  display: flex;
  line-height: 0;
  list-style: none;
}

.dir.l1ffp9n[class][class] {
  padding: 0;
}

.dir-ltr.l1ffp9n[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.l1ffp9n[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}

.dir.ictgzuh[class][class] {
  margin-top: var(--h-x-sf-jw);
}

.dir-ltr.ictgzuh[class][class] {
  margin-right: var(--fgg-f-l-a);
}

.dir-rtl.ictgzuh[class][class] {
  margin-left: var(--fgg-f-l-a);
}

.dir-ltr.ictgzuh[class][class]:last-child {
  margin-right: 0;
}

.dir-rtl.ictgzuh[class][class]:last-child {
  margin-left: 0;
}
.dir-ltr.c1b6a0zp[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.c1b6a0zp[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}

.dir-ltr.c7reqfh[class][class] {
  text-align: right;
}

.dir-rtl.c7reqfh[class][class] {
  text-align: left;
}

.pp2pv4e[class][class] {
  color: var(--f-k-smk-x);
  font-weight: var(--e-y-j-d-v-j);
}

.dir-ltr.pp2pv4e[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.pp2pv4e[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}

.pusdten[class][class] {
  font-size: var(--ll-l-ys-f);
  line-height: var(--f-xgviq);
}

.p1v1sdh8[class][class] {
  font-size: var(--iw-ehf-f);
  line-height: var(---s-l-myu);
}

.p19g44mb[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
}

.pyhdtum[class][class] {
  font-size: var(--f-cv-j-j-p);
  line-height: var(--f-l-h-bac);
}
.f1hh8ye3[class][class] {
  font-weight: var(--h-oqhch);
}

.s1uedle3[class][class] {
  color: var(--fo-jk-r-s);
  text-decoration: line-through;
  font-weight: var(--jx-zk-pv);
}

.dir-ltr.s1uedle3[class][class] {
  margin-right: var(--h-x-sf-jw);
}

.dir-rtl.s1uedle3[class][class] {
  margin-left: var(--h-x-sf-jw);
}

.u13y4e41[class][class] {
  font-weight: var(--h-oqhch);
}

.u135wcjg[class][class] {
  align-items: center;
  color: var(--f-k-smk-x);
  display: flex;
  font-weight: var(--e-y-j-d-v-j);
}

.u17z187b[class][class] {
  font-size: var(--ll-l-ys-f);
  line-height: var(--f-xgviq);
}

.uh88zun[class][class] {
  font-size: var(--iw-ehf-f);
  line-height: var(---s-l-myu);
}

.u83pj6w[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
}

.uhzod66[class][class] {
  font-size: var(--f-cv-j-j-p);
  line-height: var(--f-l-h-bac);
}

.u1j546vk[class][class] {
  justify-content: flex-end;
}
.ci9w0oj[class][class] {
  font-size: var(--iw-ehf-f);
  line-height: var(---s-l-myu);
  font-weight: var(--e-y-j-d-v-j);
  color: var(--f-k-smk-x);
  white-space: normal;
}

.p1k7zcn4[class][class] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dir.pt3tpai[class][class] {
  padding-bottom: var(--jaa-ni-h);
}

.l5wk71r[class][class] {
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.p9bpnto[class][class] {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  white-space: nowrap;
}

.pk7x55o[class][class] {
  color: var(--k-ff-my-a);
  font-weight: var(--jx-zk-pv);
}

.d1go00gp[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  color: var(--fo-jk-r-s);
}
.t1qfxvlt[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dir-ltr.t1qfxvlt[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}

.dir-rtl.t1qfxvlt[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}
.pnze9kp[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  color: var(--fo-jk-r-s);
  font-weight: var(--e-y-j-d-v-j);
}
.p1qbqedq[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  color: var(--fo-jk-r-s);
  font-weight: var(--e-y-j-d-v-j);
}
._tyxjp1 {
  font-weight: var(
    --pricing-guest-primary-line-unit-price-font-weight,
    800
  ) !important;
}
._3uceys {
  display: flex !important;
  height: 100% !important;
  list-style: none !important;
  overflow: auto hidden !important;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  min-width: 100% !important;
  scroll-snap-type: x mandatory !important;
}
._1hfjk81 {
  border-style: solid !important;
  border-color: transparent !important;
  scroll-snap-align: start !important;
  scroll-snap-stop: always !important;
  display: flex !important;
}
._lqbvk7 {
  height: 100% !important;
  min-width: 100% !important;
  display: flex !important;
}
._1w30zed {
  width: 100% !important;
  margin-right: 6px !important;
}
._uhlm2 {
  display: block !important;
}
._1mx6kqf {
  position: relative !important;
  width: 100% !important;
  z-index: 0 !important;
  padding-top: var(--dls-basecard-padding-top) !important;
}
._1szwzht {
  position: absolute !important;
  inset: 0px !important;
  height: 100% !important;
  width: 100% !important;
}
._1kklevk {
  border-radius: 8px !important;
  height: 100% !important;
  overflow: hidden !important;
  width: 100% !important;
}
@media (min-width: 744px) {
  ._1kklevk {
    border-radius: 12px !important;
  }
}
._w429hp {
  height: 100% !important;
  width: 100% !important;
  position: relative !important;
}
._1smmk5k {
  position: absolute !important;
  inset: 0px !important;
}
._1h6n1zu {
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
._9ofhsl {
  height: 0px !important;
  width: 0px !important;
  position: absolute !important;
}
@supports (object-fit: cover) {
  ._9ofhsl {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
  }
}
._15p4g025 {
  display: inline-block !important;
  vertical-align: bottom !important;
  height: 100% !important;
  width: 100% !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}
@supports (object-fit: cover) {
  ._15p4g025 {
    display: none !important;
    background-image: none !important;
  }
}
._1xewjau {
  position: absolute !important;
  inset: 0px !important;
  padding: 24px 0px 16px !important;
}
._djxl322 {
  display: table !important;
  position: relative !important;
  height: 100% !important;
  width: 100% !important;
}
._ni9axhe {
  display: table-cell !important;
  vertical-align: middle !important;
}
._q8lfwc {
  position: relative !important;
  display: block !important;
  text-align: center !important;
}
._nz0jox {
  position: absolute !important;
  width: 100% !important;
  margin: 0px auto !important;
  top: -36px !important;
}
._o65zer {
  position: relative !important;
  font-size: 32px !important;
  line-height: 36px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  text-transform: uppercase !important;
  color: rgb(72, 72, 72) !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-weight: 800 !important;
  white-space: nowrap !important;
}
@media (min-width: 744px) {
  ._o65zer {
    font-size: 46px !important;
    line-height: 52px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Helvetica Neue', sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
@media (min-width: 1128px) {
  ._o65zer {
    font-size: 32px !important;
    line-height: 36px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Helvetica Neue', sans-serif !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}
._k0cckg {
  position: absolute !important;
  right: 0px !important;
  left: 10% !important;
  top: 100% !important;
  width: 80% !important;
  margin-top: -25px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
@media (min-width: 744px) {
  ._k0cckg {
    margin-top: -40px !important;
  }
}
@media (min-width: 1128px) {
  ._k0cckg {
    margin-top: -25px !important;
  }
}
._1xxanas2 {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  line-height: 1.3333333333333333em !important;
  color: #484848 !important;
}
._1xndkt {
  text-transform: uppercase !important;
  font-size: 12px !important;
}
@media (min-width: 1128px) {
  ._wbsbxz {
    width: 85% !important;
  }
}
._1jlnvra2 {
  margin: 0px !important;
  word-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.2857142857142858em !important;
  color: #484848 !important;
}
._1jj7gf6 {
  letter-spacing: 0.2px !important;
}
._ttoj70 {
  display: inline-block !important;
  text-align: left !important;
  width: 100% !important;
  margin-top: 8px !important;
}
._za4ekfm {
  cursor: pointer !important;
  display: inline-block !important;
  margin: 0px -10px !important;
  position: relative !important;
  text-align: center !important;
  width: auto !important;
  touch-action: manipulation !important;
  font-family: var(--e-ls-qkw) !important;
  font-size: var(--iw-ehf-f) !important;
  line-height: var(---s-l-myu) !important;
  font-weight: var(--jx-zk-pv) !important;
  border-radius: var(--go-h-jh-l) !important;
  outline: none !important;
  padding: 10px !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  -webkit-tap-highlight-color: transparent !important;
  border: none !important;
  background: transparent !important;
  color: var(--f-k-smk-x) !important;
  text-decoration: underline !important;
  contain: paint !important;
}
@media (hover: hover) {
  ._za4ekfm:hover {
    border: none !important;
    background: var(---pc-g-v-g) !important;
    color: var(--bgxgx) !important;
  }
}
._za4ekfm:active {
  transform: scale(0.96) !important;
  border: none !important;
  background: var(---pc-g-v-g) !important;
  color: var(--bgxgx) !important;
}
._1mlprnc {
  position: absolute !important;
  display: block !important;
  transform: translateY(-50%) !important;
  z-index: 1 !important;
}
._azlf03 {
  font-size: 14px !important;
  line-height: 20px !important;
  width: fit-content !important;
}
@media (min-width: 744px) {
  ._azlf03 {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-top: 12px !important;
  }
}
._115dvcs {
  color: rgb(34, 34, 34) !important;
  display: flex !important;
}

._8qmw1pr {
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  margin-bottom: 24px !important;
}

._f7hsn0 {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-weight: 400 !important;
  width: 100% !important;
}

@media (min-width: 744px) {
  ._f7hsn0 {
    margin-bottom: 8px !important;
  }
}

._1db01g7i {
  font-weight: 600 !important;
  margin-bottom: 0px !important;
  width: fit-content !important;
  font-size: 22px !important;
  line-height: 26px !important;
}

._azlf03 {
  font-size: 14px !important;
  line-height: 20px !important;
  width: fit-content !important;
}

@media (min-width: 744px) {
  ._azlf03 {
    font-size: 16px !important;
    line-height: 24px !important;
    margin-top: 12px !important;
  }
}

.g14v8520[class][class] {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: var(--breakpoint-grid_row-gap, 0)
    var(--breakpoint-grid_column-gap, 0);
  grid-template-columns: var(
    --breakpoint-grid_column-template,
    repeat(var(--breakpoint-grid_columns, 1), minmax(0, 1fr))
  );
}

@media (min-width: 744px) {
  .g14v8520[class][class] {
    grid-auto-rows: minmax(0, 1fr);
  }
}

.gh7uyir[class][class] {
  margin-block: var(--ikx-k-pe);
  --breakpoint-grid_column-gap: var(--ikx-k-pe);
  --breakpoint-grid_row-gap: var(--f-fw-z-a-i);
  --breakpoint-grid_columns: 1;
}

@media (min-width: 550px) {
  .gh7uyir[class][class] {
    --breakpoint-grid_columns: 2;
  }
}

@media (min-width: 950px) {
  .gh7uyir[class][class] {
    --breakpoint-grid_columns: 3;
  }
}

@media (min-width: 1128px) {
  .gh7uyir[class][class] {
    margin-block: var(--fgg-f-l-a) var(--kksqe-v);
  }
}

@media (min-width: 1128px) {
  .gh7uyir[class][class] {
    --breakpoint-grid_columns: 4;
  }
}

@media (min-width: 1606px) {
  .gh7uyir[class][class] {
    --breakpoint-grid_columns: 5;
  }
}

.c4mnd7m[class][class] {
  display: grid;
  grid-template-columns: 100%;
}

.dir.c1pbo4kt[class][class] {
  margin: 0;
  padding-top: 0;
}

.dir.c1pbo4kt[class][class] {
  margin: 0;
  padding-top: 0;
}

@supports (content-visibility: hidden) {
  .cikyho8[class][class] {
    content-visibility: hidden;
    display: flex;
  }
}

.cikyho8[class][class] {
  display: none;
}

.c1pbo4kt[class][class] {
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

@supports (content-visibility: hidden) {
  .cikyho8[class][class] {
    content-visibility: hidden;
    display: flex;
  }
}

.cikyho8[class][class] {
  display: none;
}

.c1pbo4kt[class][class] {
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.dir.m1cp3yuo[class][class] {
  margin-bottom: var(--b-y-unon);
}

.m1cp3yuo[class][class] {
  --aspect_ratio_wrapper-ratio: 20 / 19;
  --aspect_ratio_wrapper-padding_fallback: 95%;
  --aspect_ratio_wrapper-position_fallback: relative;
}

@supports (aspect-ratio: 1 / 1) {
  .awuxh4x[class][class] {
    aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
  }
}

@supports (aspect-ratio: 1 / 1) {
  .awuxh4x[class][class] {
    aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
  }
}

.cw9aemg[class][class] {
  height: 100%;
  min-width: 0;
  position: unset;
}

.cw9aemg[class][class] {
  height: 100%;
  min-width: 0;
  position: unset;
}

.cb4nyux[class][class] {
  display: grid;
  gap: var(--card-content-grid_gap, var(--h-x-sf-jw));
  grid-template-columns: var(
    --card-content-grid_template-columns,
    minmax(0, 1fr) max-content
  );
  grid-template-rows: var(--card-content-grid_template-rows, unset);
}

.g1wiliwt[class][class] {
  --card-content-grid_gap: var(--d-b-mrdy) var(--fgg-f-l-a);
  --card-content-grid_template-columns: minmax(0, 1fr) 15%;
}

.a3g92ry[class][class] {
  grid-column: -2/-1;
  grid-row: 1;
  justify-self: end;
  width: 100%;
}

.f15liw5s[class][class] {
  grid-column: 1 / -1;
}

.dir.pc0djro[class][class] {
  margin-top: 6px;
}

.pc0djro[class][class] {
  grid-column: 1 / -1;
}

.c1l1h97y[class][class] {
  grid-area: 1 / 1 / 2 / 2;
}

.dir.cy5jw6o[class][class] {
  border-radius: var(--card-container_border-radius, var(--i-g-gvoq));
  box-shadow: var(--card-container_box-shadow);
}

.cy5jw6o[class][class] {
  position: relative;
}

.dir-ltr.ln2bl2p[class][class] {
  left: 0;
}

.dir.ln2bl2p[class][class] {
  border-radius: var(--card-container_border-radius, var(--i-g-gvoq));
}

.ln2bl2p[class][class] {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  outline: none;
}

.dir.mz543g6[class][class] {
  margin-bottom: var(--b-y-unon);
}

.mz543g6[class][class] {
  --aspect_ratio_wrapper-ratio: 20 / 19;
  --aspect_ratio_wrapper-padding_fallback: 95%;
  --aspect_ratio_wrapper-position_fallback: relative;
}

.dir.c14dgvke[class][class] {
  border-radius: var(--media-container_border-radius, var(--i-g-gvoq));
  background-color: var(--j-qkgmf);
}

@supports (overflow: clip) {
  .c14dgvke[class][class] {
    overflow: clip;
  }
}

.c14dgvke[class][class] {
  mask-image: -webkit-radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  pointer-events: var(--media-container_pointer-events, auto);
  position: relative;
}

.rztl681[class][class] {
  display: grid;
  grid-template: var(
    --contentscroller_layout_grid-template,
    'header' 'scroller' 'footer' / minmax(0, 1fr)
  );
}

.cp0pqp0[class][class] {
  --contentscroller_contain: layout paint size style;
  --contentscroller_overflow: visible hidden;
}

.cnjlbcx[class][class] {
  --contentscroller_contain: none;
  --contentscroller_content-visibility: unset;
  --contentscroller_controls_z-index: 1;
  --contentscroller_gap: 0px;
  --contentscroller_height: 100%;
  --contentscroller_overflow: hidden;
  --contentscroller_peek: 0;
  --contentscroller_scrollsnapstop: always;
  --contentscroller_visible-items: 1;
}

.dbldy2s[class][class] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.dir.c18vjgz6[class][class] {
  margin-inline-start: var(
    --contentscroller_controls_margin-inline-start,
    unset
  );
  margin-inline-end: var(--contentscroller_controls_margin-inline-end, unset);
}

.c18vjgz6[class][class] {
  grid-area: var(--contentscroller_controls_grid-area, header);
  margin-block-start: var(--contentscroller_controls_margin-block-start, unset);
  margin-block-end: var(--contentscroller_controls_margin-block-end, unset);
  place-self: var(--contentscroller_controls_place-self, auto end);
  pointer-events: var(--contentscroller_controls_pointer-events);
  z-index: var(--contentscroller_controls_z-index, auto);
}

.dir.o1q97y5m[class][class] {
  left: 0;
  right: 0;
  padding: var(--media-overlay_padding, var(--b-y-unon) var(--b-y-unon) 0);
}

.dir-ltr.o47luuh[class][class] {
  background: linear-gradient(180deg, transparent 80%, rgba(0, 0, 0, 0.25));
}

.o1q97y5m[class][class] {
  display: flex;
  flex: 1;
  flex-flow: column;
  top: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

.tsz9f4o[class][class] {
  display: grid;
  grid-column-gap: var(--jaa-ni-h);
  grid-template-columns: repeat(2, minmax(min-content, auto));
}

.o1q97y5m[class][class] > * {
  flex: 1 0;
}

.t1p13dzz[class][class] {
  justify-self: flex-start;
}

.dir.r14mr20j[class][class] {
  background-clip: padding-box;
  background-color: var(--formatted-badge_background-color, var(--f-mkcy-f));
  border-radius: var(--h-l-f-om-o);
  padding: var(--h-x-sf-jw) var(--fgg-f-l-a);
}

.dir-ltr.b1b9hiva[class][class] {
  margin-left: 3px;
}

.dir.b1b9hiva[class][class] {
  margin-top: 3px;
}

.r14mr20j[class][class] {
  align-items: center;
  color: var(--formatted-badge_text-color, var(--f-k-smk-x));
  display: inline-flex;
  font-weight: var(--jx-zk-pv);
  height: fit-content;
  max-width: 100%;
}

@supports (overflow: clip) {
  .t1mwk1n0[class][class] {
    overflow: clip;
  }
}

.t1mwk1n0[class][class] {
  font-size: var(--c-zdwk-p);
  line-height: var(--j-p-z-kco);
  line-height: var(--j-p-z-kco);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.ts9x1g6[class][class] {
  justify-self: flex-end;
}

.ckqgked[class][class] {
  pointer-events: auto;
  height: var(--save-button_height, auto);
  width: var(--save-button_width, auto);
}

.cendrgz[class][class] {
  --save-button_height: calc(24px + var(--fgg-f-l-a));
  --save-button_width: calc(24px + var(--fgg-f-l-a));
}

.dir.bq05a0m[class][class] {
  cursor: pointer;
  margin: 0;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background: lightgrey;
}

.dir.vq7srz5[class][class] {
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  -webkit-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  margin: -2px 0 0;
  padding: 2px 0 0 0;
}

.vq7srz5[class][class] {
  font-family: var(--e-ls-qkw);
  font-size: var(--iw-ehf-f);
  line-height: var(---s-l-myu);
  font-weight: var(--jx-zk-pv);
  border-radius: var(--go-h-jh-l);
  outline: none;
  padding: 14px 24px;
  -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.1s ease;
  -webkit-transition: box-shadow 0.2s ease, transform 0.1s ease;
  transition: box-shadow 0.2s ease, transform 0.1s ease;
  outline: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--f-k-smk-x);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 0.25s ease;
  width: calc(24px + var(--fgg-f-l-a));
  height: calc(24px + var(--fgg-f-l-a));
}

.bq05a0m[class][class] {
  display: inline-block;
  position: relative;
  -webkit-text-decoration: none;
  text-decoration: none;
  width: auto;
  color: black;
  font-size: 14px;
  font-family: inherit;
  touch-action: manipulation;
}

.m1dum4mk[class][class] {
  align-items: center;
  display: grid;
  grid-column-gap: var(--jaa-ni-h);
  grid-template-columns: repeat(2, minmax(min-content, auto));
}

.m1tlldn6[class][class] {
  justify-self: flex-start;
}

.s1tdgjmu[class][class] {
  visibility: hidden;
}

.swcqrz4[class][class] {
  opacity: 1;
  visibility: visible;
}

.dir.swcqrz4[class][class] {
  animation-duration: 0.3s;
  animation-name: fade-in;
}

.s134m7bb[class][class] {
  pointer-events: auto;
}

._1d3iagv {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  appearance: none !important;
  display: inline-flex !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.08) !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: rgb(34, 34, 34) !important;
  background-color: rgba(255, 255, 255, 0.9) !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background-clip: padding-box !important;
  box-shadow: transparent 0px 0px 0px 1px, transparent 0px 0px 0px 4px,
    rgb(0 0 0 / 18%) 0px 2px 4px !important;
  transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s,
    transform 0.25s ease 0s !important;
  width: 32px !important;
  height: 32px !important;
}

.ms83rji[class][class] {
  justify-self: flex-end;
}

.b1tv82fw[class][class] {
  align-items: flex-end;
  display: grid;
  grid-column-gap: var(--jaa-ni-h);
  grid-template-columns: repeat(3, minmax(min-content, auto));
}

.bycbjmy[class][class] {
  justify-self: flex-start;
}

.balhpdq[class][class] {
  justify-self: center;
}

._r752or {
  -webkit-box-pack: center !important;
  -webkit-box-align: end !important;
  align-items: flex-end !important;
  display: flex !important;
  justify-content: center !important;
  height: 100% !important;
}

@supports (overflow: clip) {
  ._szn05y {
    overflow: clip !important;
  }
}

._szn05y {
  display: flex !important;
  overflow: hidden !important;
  padding-bottom: 12px !important;
  max-width: 55px !important;
}

._1b2klj3 {
  -webkit-box-pack: center !important;
  -webkit-box-align: end !important;
  align-items: flex-end !important;
  display: flex !important;
  justify-content: center !important;
  list-style-type: none !important;
  margin: 0px !important;
  padding: 0px !important;
  transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
}

._1k9ksvh {
  background: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  height: 6px !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  min-width: 6px !important;
  opacity: 0.6 !important;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
  width: 6px !important;
}

._4o74ccl {
  background: rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  height: 6px !important;
  margin-left: 2.5px !important;
  margin-right: 2.5px !important;
  min-width: 6px !important;
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s !important;
  width: 6px !important;
  opacity: 1 !important;
}

.b18glxm4[class][class] {
  justify-self: flex-end;
}

.dir.s1yvqyx7[class][class] {
  margin-inline-start: var(
    --contentscroller_scroller_margin-inline-start,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
  margin-inline-end: var(
    --contentscroller_scroller_margin-inline-end,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
}

.s1yvqyx7[class][class] {
  grid-area: var(--contentscroller_scroller_grid-area, scroller);
  margin-block-start: var(--contentscroller_scroller_margin-block-start, unset);
  margin-block-end: var(--contentscroller_scroller_margin-block-end, unset);
  place-self: var(--contentscroller_scroller_place-self, auto);
}

.dir.c14whb16[class][class] {
  margin: 0;
  padding-inline-start: var(
    --contentscroller_padding-inline-start,
    var(--contentscroller_peek, 32px)
  );
  padding-inline-end: var(
    --contentscroller_padding-inline-end,
    var(--contentscroller_peek, 32px)
  );
}

@supports (scroll-behavior: smooth) {
  .c14whb16[class][class] {
    scroll-snap-type: var(--contentscroller_scrollsnaptype, inline mandatory);
  }
}

.c14whb16[class][class] {
  contain: var(--contentscroller_contain);
  contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
  content-visibility: var(--contentscroller_content-visibility);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(
    --contentscroller_auto-columns,
    calc(
      (
          100% - var(--contentscroller_gap, 16px) *
            (var(--contentscroller_visible-items, unset) - 1)
        ) / var(--contentscroller_visible-items, unset)
    )
  );
  gap: var(--contentscroller_gap, 16px);
  grid-template-rows: var(--contentscroller_rows, none);
  justify-content: flex-start;
  min-height: var(--contentscroller_min-height);
  height: var(--contentscroller_height);
  overflow: var(--contentscroller_overflow, auto hidden);
  overscroll-behavior-inline: contain;
  padding-block-start: var(--contentscroller_padding-block-start, unset);
  padding-block-end: var(--contentscroller_padding-block-end, unset);
  scroll-padding-inline: var(--contentscroller_peek, 32px);
  scrollbar-width: none;
  touch-action: var(--contentscroller_touch-action, pan-x pan-y pinch-zoom);
}

.c14whb16[class][class] > :nth-child(n) {
  scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
}

.rfexzly[class][class] {
  display: block;
  color: transparent;
}

.cjv59qb[class][class] {
  position: relative;
  width: 100%;
  height: 100%;
}

@supports (object-fit: cover) {
  ._15p4g025 {
    display: none !important;
    background-image: none !important;
  }
}

._15p4g025 {
  display: inline-block !important;
  vertical-align: bottom !important;
  height: 100% !important;
  width: 100% !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
}

.g1tup9az[class][class] {
  font-size: 15px;
  line-height: 19px;
  --card-content-grid_gap: var(--d-b-mrdy) var(--fgg-f-l-a);
}

@supports (overflow: clip) {
  .t1jojoys[class][class] {
    overflow: clip;
  }
}

.t1jojoys[class][class] {
  line-height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--title_max-num-lines, 1);
  color: var(--f-k-smk-x);
  font-weight: var(--jx-zk-pv);
  word-break: var(--title_word-break, break-all);
}

@supports (overflow: clip) {
  .s1cjsi4j[class][class] {
    overflow: clip;
  }
}

.s1cjsi4j[class][class] {
  line-height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--fo-jk-r-s);
}

.dir.pquyp1l[class][class] {
  margin-top: 6px;
}

.pquyp1l[class][class] {
  grid-column: 1 / -1;
}

._i5duul {
  -webkit-box-align: center !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;
  display: flex !important;
  flex-flow: row wrap !important;
  align-items: center !important;
}

._14y1gc {
  font-size: var(--pricing-guest-primary-line-font-size, 16px) !important;
  line-height: var(--pricing-guest-primary-line-line-height, 20px) !important;
  overflow: var(--pricing-guest-primary-line-overflow, initial) !important;
  white-space: var(
    --pricing-guest-primary-line-white-space,
    inherit
  ) !important;
}

._1jo4hgw {
  -webkit-box-pack: var(
    --pricing-guest-display-price-alignment,
    flex-start
  ) !important;
  -webkit-box-align: baseline !important;
  align-items: baseline !important;
  color: rgb(34, 34, 34) !important;
  display: flex !important;
  font-weight: 400 !important;
  justify-content: var(
    --pricing-guest-display-price-alignment,
    flex-start
  ) !important;
  flex-wrap: var(--pricing-guest-display-price-flex-wrap, wrap) !important;
}

._tyxjp1 {
  font-weight: var(
    --pricing-guest-primary-line-unit-price-font-weight,
    800
  ) !important;
}

._r1nvod {
  white-space: nowrap !important;
  font-weight: 400 !important;
  font-size: var(
    --pricing-guest-primary-line-qualifier-font-size,
    14px
  ) !important;
  line-height: var(
    --pricing-guest-primary-line-qualifier-line-height,
    18px
  ) !important;
  min-width: var(
    --pricing-guest-primary-line-qualifier-min-width,
    initial
  ) !important;
  overflow: var(
    --pricing-guest-primary-line-qualifier-overflow,
    initial
  ) !important;
  text-overflow: var(
    --pricing-guest-primary-line-qualifier-text-overflow,
    initial
  ) !important;
}

.r4a59j5[class][class] {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.t5eq1io[class][class] {
  grid-column: -2/-1;
  grid-row: 1;
  justify-self: end;
}

.s1dxllyb[class][class] {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--f-k-smk-x);
}

.dir.r4a59j5[class][class] > :not(:first-child) {
  margin-inline-start: var(--h-x-sf-jw);
}

.ru0q88m[class][class] {
  color: var(--f-k-smk-x);
  font-variant-numeric: tabular-nums;
}
