/* Global */
:root {
  --f-mkcy-f: #ffffff;
  ---pc-g-v-g: #f7f7f7;
  --f-k-smk-x: #222222;
  --jaa-ni-h: 16px;
  --go-h-jh-l: 8px;
  --fo-jk-r-s: #717171;
  --j-qkgmf: #dddddd;
  --bgxgx: #000000;
  --f-cv-j-j-p: 12px;
  --f-l-h-bac: 16px;
  --jx-zk-pv: 600;
  --h-x-sf-jw: 4px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select,
button,
a {
  font-family: inherit;
  font-size: 100%;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* /Global */

/* Where to Component */
.dir.ilrd0ld:is(*, #x #x) {
  padding: 14px 24px 0 24px;
}

.dir.e11vjh0i:is(*, #x #x) {
  background: var(--f-mkcy-f);
  border: 0.5px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
  transform: translate3d(0, 0, 0);
}

.dir.c109ki4m:is(*, #x #x) {
  background: var(---pc-g-v-g);
  border-radius: 1000px;
}

.c109ki4m:is(*, #x #x) {
  align-items: stretch;
  color: var(--f-k-smk-x);
  display: flex;
  min-height: 56px;
  min-width: 285px;
}

.ljicvoc:is(*, #x #x) {
  align-items: center;
  display: flex;
  min-width: 100px;
  width: 100%;
}

._pbrr2o5 {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  cursor: pointer !important;
  position: relative !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  border-radius: var(--go-h-jh-l) !important;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  -webkit-tap-highlight-color: transparent !important;
  background: transparent !important;
  color: inherit !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  margin: 0 !important;
  text-align: inherit !important;
  text-decoration: none !important;
  height: 100% !important;
  width: 100% !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  min-width: 0 !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.dir-ltr.l1762013:is(*, #x #x) {
  padding: 0 var(--jaa-ni-h) 0 20px;
}

.dir-ltr.cfpmckc:is(*, #x #x) {
  padding-left: 2px;
}

.fw09vnz:is(*, #x #x) {
  display: flex;
  min-width: 0;
}
.cfpmckc:is(*, #x #x) {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fw09vnz:is(*, #x #x) {
  display: flex;
  min-width: 0;
}

.p1uhuw2g:is(*, #x #x) {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.i1hupcay:is(*, #x #x) {
  display: flex;
  min-width: 50px;
}
.c120lmsc:is(*, #x #x) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fw09vnz:is(*, #x #x) {
  display: flex;
  min-width: 0;
}
.s1t0vaho:is(*, #x #x) {
  color: var(--fo-jk-r-s);
  display: flex;
  font-size: 12px;
  line-height: 16px;
}
.i1hupcay:is(*, #x #x) {
  display: flex;
  min-width: 50px;
}
.c120lmsc:is(*, #x #x) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dir.s1zug1q:is(*, #x #x) {
  padding: 0 5px;
}
.i1hupcay:is(*, #x #x) {
  display: flex;
  min-width: 50px;
}
.c120lmsc:is(*, #x #x) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dir.s1zug1q:is(*, #x #x) {
  padding: 0 5px;
}
.i1hupcay:is(*, #x #x) {
  display: flex;
  min-width: 50px;
}
.c120lmsc:is(*, #x #x) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dir.a8jt5op:is(*, #x #x) {
  border: 0;
  padding: 0;
}
.dir.a8jt5op:is(*, #x #x) {
  border: 0;
  padding: 0;
}
.dir.a8jt5op:is(*, #x #x) {
  border: 0;
  padding: 0;
}

.dir.a8jt5op:is(*, #x #x) {
  border: 0;
  padding: 0;
}
.a8jt5op:is(*, #x #x) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.a8jt5op:is(*, #x #x) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.a8jt5op:is(*, #x #x) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.a8jt5op:is(*, #x #x) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.r15cp21x:is(*, #x #x) {
  display: flex;
}
._1tfdqvl5 {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  cursor: pointer !important;
  position: relative !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
  font-weight: inherit !important;
  border-radius: var(--go-h-jh-l) !important;
  border: none !important;
  outline: none !important;
  padding: 0 !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  transition: none !important;
  -webkit-tap-highlight-color: transparent !important;
  background: transparent !important;
  color: inherit !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  margin: 0 !important;
  text-align: inherit !important;
  text-decoration: none !important;
  height: 100% !important;
  width: 100% !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  min-width: 0 !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.dir.f1nj4bis:is(*, #x #x) {
  border: 1px solid var(--j-qkgmf);
  border-radius: 25px;
  margin: 0 10px;
}
.f1nj4bis:is(*, #x #x) {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}
._1vd92pv {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
  position: relative !important;
}
.c1yo0219:is(*, #x #x)::after {
  display: flex;
  content: '';
}

.c1yo0219:is(*, #x #x)::after {
  display: flex;
  content: '';
}
/* /Where to Component */

/* Filters */
.c1yo0219:is(*, #x #x)::before {
  display: flex;
  content: '';
}
.c1yo0219:is(*, #x #x)::before {
  display: flex;
  content: '';
}
.dir.w17rkehr:is(*, #x #x) {
  background-color: var(--f-mkcy-f);
}
.w17rkehr:is(*, #x #x) {
  --chipsbar_height: 74px;
  --chipsbar_chip-spacing: 16px;
  --chipsbar_chip-width: 64px;
  --chipsbar_underline-margin: 12px;
  --chipsbar_box-shadow: rgb(0 0 0 / 16%) 0 0 6px;
  --contentscroller_scroller_margin-inline-start: 0;
  --contentscroller_scroller_margin-inline-end: 0;
  --contentscroller_peek: 24px;
  --contentscroller_gap: var(--chipsbar_chip-spacing);
  --contentscroller_auto-columns: max-content;
  --contentscroller_scrollsnaptype: none;
}
.clu53zf:is(*, #x #x) {
  max-width: 1760px;
  margin-inline: auto;
  padding-inline-start: var(--explore_padding-inline);
  padding-inline-end: var(--explore_padding-inline);
}

.c1yfmptw:is(*, #x #x) {
  max-height: var(--chipsbar_height);
  display: grid;
  grid-template-columns: 100%;
}
.c1yfmptw:is(*, #x #x) > :nth-child(n) {
  grid-area: 1 / 1 / 2 / 2;
}
@supports (overflow-clip-margin: 4px) .e1gc5f0n: is(*, #x #x) {
  contain: strict;
  overflow-clip-margin: 4px;
}
.e1gc5f0n:is(*, #x #x) {
  width: 100%;
  height: var(--chipsbar_height);
}
.sr4ekrk:is(*, #x #x) {
  position: relative;
}
.s1in1q3d:is(*, #x #x) {
  display: grid;
  height: var(--chipsbar_height);
}
.s1in1q3d:is(*, #x #x) > :nth-child(n) {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
}
.rztl681:is(*, #x #x) {
  display: grid;
  grid-template: var(
    --contentscroller_layout_grid-template,
    'header' 'scroller' 'footer' / minmax(0, 1fr)
  );
}
.rztl681:is(*, #x #x) {
  display: grid;
  grid-template: var(
    --contentscroller_layout_grid-template,
    'header' 'scroller' 'footer' / minmax(0, 1fr)
  );
}

.dir.dbldy2s:is(*, #x #x) {
  border: 0;
  padding: 0;
}
.dir.dbldy2s:is(*, #x #x) {
  border: 0;
  padding: 0;
}

.dbldy2s:is(*, #x #x) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.dbldy2s:is(*, #x #x) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.c18vjgz6:is(*, #x #x) {
  grid-area: var(--contentscroller_controls_grid-area, header);
  margin-block-start: var(--contentscroller_controls_margin-block-start, unset);
  margin-block-end: var(--contentscroller_controls_margin-block-end, unset);
  margin-inline-start: var(
    --contentscroller_controls_margin-inline-start,
    unset
  );
  margin-inline-end: var(--contentscroller_controls_margin-inline-end, unset);
  place-self: var(--contentscroller_controls_place-self, auto end);
  pointer-events: var(--contentscroller_controls_pointer-events);
  z-index: var(--contentscroller_controls_z-index, auto);
}

.c18vjgz6:is(*, #x #x) {
  grid-area: var(--contentscroller_controls_grid-area, header);
  margin-block-start: var(--contentscroller_controls_margin-block-start, unset);
  margin-block-end: var(--contentscroller_controls_margin-block-end, unset);
  margin-inline-start: var(
    --contentscroller_controls_margin-inline-start,
    unset
  );
  margin-inline-end: var(--contentscroller_controls_margin-inline-end, unset);
  place-self: var(--contentscroller_controls_place-self, auto end);
  pointer-events: var(--contentscroller_controls_pointer-events);
  z-index: var(--contentscroller_controls_z-index, auto);
}
.dir.bioo66e:is(*, #x #x) {
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  transition-timing-function: ease;
  background: white;
}

.bioo66e:is(*, #x #x) {
  opacity: 0;
  visibility: hidden;
  align-items: center;
  display: flex;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
@media (-webkit-max-device-pixel-ratio: 2) .dir.vmfx3gj:is(*,#x #x ) {
  border: 0.5px solid rgb(0 0 0 / 0.3);
}
.dir.vmfx3gj:is(*, #x #x) {
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  border: 1px solid rgb(0 0 0 / 0.3);
  margin: 0;
  padding: 0;
  background-clip: padding-box;
  background-color: var(--f-mkcy-f);
  transition: box-shadow 0.2s ease;
}

.vmfx3gj:is(*, #x #x) {
  appearance: none;
  display: inline-block;
  border: none;
  outline: 0;
  margin: -7px;
  padding: 7px;
  color: buttontext;
  touch-action: manipulation;
  display: inline-flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
}
.bioo66e:is(*, #x #x)::after {
  content: '';
  display: block;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  width: 40px;
  z-index: -1;
}
.dir.bioo66e:is(*, #x #x) {
  transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
  transition-timing-function: ease;
  background: white;
}
.b1ntzptz:is(*, #x #x) {
  visibility: revert;
}

.bioo66e:is(*, #x #x) {
  opacity: 0;
  visibility: hidden;
  align-items: center;
  display: flex;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.s1yvqyx7:is(*, #x #x) {
  grid-area: var(--contentscroller_scroller_grid-area, scroller);
  margin-block-start: var(--contentscroller_scroller_margin-block-start, unset);
  margin-block-end: var(--contentscroller_scroller_margin-block-end, unset);
  margin-inline-start: var(
    --contentscroller_scroller_margin-inline-start,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
  margin-inline-end: var(
    --contentscroller_scroller_margin-inline-end,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
  place-self: var(--contentscroller_scroller_place-self, auto);
}

@supports (aspect-ratio: 1 / 1) .awuxh4x: is(*, #x #x) {
  aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
}
.cw9aemg:is(*, #x #x) {
  height: 100%;
  min-width: 0;
  position: unset;
}
.dir.c14whb16:is(*, #x #x) {
  margin: 0;
}
.dir.c14whb16:is(*, #x #x) {
  margin: 0;
}

@supports (scroll-behavior: smooth) .c14whb16: is(*, #x #x) {
  scroll-snap-type: var(--contentscroller_scrollsnaptype, inline mandatory);
}
.c14whb16:is(*, #x #x) {
  contain: var(--contentscroller_contain);
  contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
  content-visibility: var(--contentscroller_content-visibility);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(
    --contentscroller_auto-columns,
    calc(
      (
          100% - var(--contentscroller_gap, 16px) *
            (var(--contentscroller_visible-items, unset) - 1)
        ) / var(--contentscroller_visible-items, unset)
    )
  );
  gap: var(--contentscroller_gap, 16px);
  grid-template-rows: var(--contentscroller_rows, none);
  justify-content: flex-start;
  min-height: var(--contentscroller_min-height);
  height: var(--contentscroller_height);
  overflow: var(--contentscroller_overflow, auto hidden);
  overscroll-behavior-inline: contain;
  padding-block-start: var(--contentscroller_padding-block-start, unset);
  padding-block-end: var(--contentscroller_padding-block-end, unset);
  padding-inline-start: var(
    --contentscroller_padding-inline-start,
    var(--contentscroller_peek, 32px)
  );
  padding-inline-end: var(
    --contentscroller_padding-inline-end,
    var(--contentscroller_peek, 32px)
  );
  scroll-padding-inline: var(--contentscroller_peek, 32px);
  scrollbar-width: none;
  touch-action: var(--contentscroller_touch-action, pan-x pan-y pinch-zoom);
}
@supports (scroll-behavior: smooth) .c14whb16: is(*, #x #x) {
  scroll-snap-type: var(--contentscroller_scrollsnaptype, inline mandatory);
}

.c14whb16:is(*, #x #x) > :nth-child(n) {
  scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
}
.c14whb16:is(*, #x #x) > :nth-child(n) {
  scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
}
.c4mnd7m:is(*, #x #x) {
  display: grid;
  grid-template-columns: 100%;
}
.c4mnd7m:is(*, #x #x) {
  display: grid;
  grid-template-columns: 100%;
}
.dir.c1pbo4kt:is(*, #x #x) {
  margin: 0;
  padding-top: 0;
}
.dir.c1pbo4kt:is(*, #x #x) {
  margin: 0;
  padding-top: 0;
}

.c1pbo4kt:is(*, #x #x) {
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.c1l1h97y:is(*, #x #x) {
  grid-area: 1 / 1 / 2 / 2;
}
.dir.ccma3s:is(*, #x #x) {
  background-color: unset;
  cursor: default;
}

.dir.c1l3w0tx:is(*, #x #x) {
  cursor: pointer;
  text-align: center;
  border-radius: var(--go-h-jh-l);
  background-color: unset;
  border: unset;
  padding: 4px 0 14px;
  margin: 12px 0 0;
  -webkit-transition: box-shadow 0.2s ease, color 0.2s ease;
  transition: box-shadow 0.2s ease, color 0.2s ease;
}
.ccma3s:is(*, #x #x) {
  background-color: black;
  color: white;
  color: var(--bgxgx);
}
.c1l3w0tx:is(*, #x #x) {
  border: 1px solid black;
  background-color: white;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: var(--f-cv-j-j-p);
  line-height: var(--f-l-h-bac);
  color: var(--fo-jk-r-s);
  font-weight: var(--jx-zk-pv);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.c1w8ohg7:is(*, #x #x) {
  min-width: revert;
}
.c8gkmzg:is(*, #x #x) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: var(--chipsbar_chip-width);
  gap: var(--h-x-sf-jw);
}
.ccma3s .i1wps9q8:is(*, #x #x) {
  -webkit-filter: contrast(1);
  filter: contrast(1);
}
.dir.i1wps9q8:is(*, #x #x) {
  -webkit-transition: filter 200ms ease, transform 200ms ease;
  transition: filter 200ms ease, transform 200ms ease;
}
.i1wps9q8:is(*, #x #x) {
  max-width: 100%;
  width: var(--chipsbar-chip-image_size, 24px);
  height: auto;
  -webkit-filter: contrast(calc(13 / 44));
  filter: contrast(calc(13 / 44));
  -webkit-transition: filter 200ms ease, -webkit-transform 200ms ease;
}
.tamhn2w:is(*, #x #x) {
  white-space: nowrap;
  position: relative;
}
.dir.t1trgdqu:is(*, #x #x) {
  -webkit-transition: transform 200ms ease;
  transition: transform 200ms ease;
}

.t1trgdqu:is(*, #x #x) {
  display: inline-block;
  -webkit-transition: -webkit-transform 200ms ease;
}
.dir.ccma3s .tamhn2w:is(*, #x #x)::after {
  background-color: var(--bgxgx);
}
.ccma3s .tamhn2w:is(*, #x #x)::after {
  opacity: 1;
}
.dir.tamhn2w:is(*, #x #x)::after {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.tamhn2w:is(*, #x #x)::after {
  position: absolute;
  content: '';
  inset-inline: 0;
  height: 2px;
  top: calc(100% + 12px);
  opacity: 0;
}
.s1in1q3d:is(*, #x #x) > :nth-child(n) {
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
}

.p1rdmone:is(*, #x #x) {
  align-items: center;
  display: flex;
  gap: var(--chipsbar_chip-spacing);
  overflow: hidden;
  pointer-events: none;
  padding-inline-start: var(--contentscroller_peek);
}
.c4mnd7m:is(*, #x #x) {
  display: grid;
  grid-template-columns: 100%;
}
.dir.c1pbo4kt:is(*, #x #x) {
  margin: 0;
  padding-top: 0;
}
.dir.c1pbo4kt:is(*, #x #x) {
  margin: 0;
  padding-top: 0;
}
.c1pbo4kt:is(*, #x #x) {
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.cmrodwo:is(*, #x #x) {
  --shimer-image_size: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-block: 18px 16px;
  gap: var(--h-x-sf-jw);
}
.i1g6c6ad:is(*, #x #x) {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: var(--shimer-image_size, 24px);
  height: var(--shimer-image_size, 24px);
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}

.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.t1uqc5yt:is(*, #x #x) {
  display: inline-block;
}

.t1bas39w:is(*, #x #x) {
  width: 64px;
  height: 12px;
}

.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_1c_glywfm:is(*, #x) {
  animation-name: none;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_2d_1r31cwp:is(*, #x) {
  background-color: currentColor;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_1k_1ytfnp0:is(*, #x) {
  animation-timing-function: ease-in-out;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_12_q7pw6w:is(*, #x) {
  animation-fill-mode: forwards;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_y_9cwzv5:is(*, #x) {
  animation-duration: 1s;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_u_1yy80mb:is(*, #x) {
  animation-direction: alternate;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.dir.atm_16_12c5xpv:is(*, #x) {
  animation-iteration-count: infinite;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_k4_7tcf61 {
  opacity: 0.09049773755656108;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_9s_1ulexfb {
  display: block;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}
.atm_mk_h2mmj6 {
  position: relative;
}

.atm_mk_h2mmj6 {
  position: relative;
}
.f14wfpb5:is(*, #x #x) {
  display: none;
}
.dir.w17rkehr:is(*, #x #x)::after {
  left: 0;
  right: 0;
  box-shadow: var(--chipsbar_box-shadow, unset);
  -webkit-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}
.w17rkehr:is(*, #x #x)::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.c1yo0219:is(*, #x #x)::after {
  display: flex;
  content: '';
}
.c1yo0219.dir.dir-ltr {
  overflow: hidden;
}
.c1l3w0tx:is(*, #x #x):hover {
  color: var(--bgxgx);
}
.c1l3w0tx:hover .i1wps9q8:is(*, #x #x) {
  -webkit-filter: contrast(1);
  filter: contrast(1);
}
.dir.c1l3w0tx:hover .tamhn2w:is(*, #x #x)::after {
  background-color: var(--j-qkgmf);
}
.c1l3w0tx:hover .tamhn2w:is(*, #x #x)::after {
  opacity: 1;
}
/* /Filters */
