@charset "UTF-8";
.wp-block-columns {
  display: flex;
  margin-bottom: 1.75em;
  box-sizing: border-box;
  flex-wrap: wrap
}
@media (min-width:782px) {
  .wp-block-columns {
    flex-wrap: nowrap
  }
}
.wp-block-columns:where(.has-background) {
  padding: 1.25em 2.375em
}
@media (max-width:599px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 100%!important
  }
}
@media (min-width:600px) and (max-width:781px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:only-child) {
    flex-basis: calc(50% - var(--wp--style--block-gap,2em)/ 2)!important;
    flex-grow: 0
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:nth-child(2n) {
    margin-left: var(--wp--style--block-gap,2em)
  }
}
@media (min-width:782px) {
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
    flex-basis: 0;
    flex-grow: 1
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column[style*=flex-basis] {
    flex-grow: 0
  }
  .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:first-child) {
    margin-left: var(--wp--style--block-gap,2em)
  }
}
.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word
}
.wp-block-image {
  margin: 0 0 1em
}
.wp-block-image img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom
}
.wp-block-image:not(.is-style-rounded) > a,
.wp-block-image:not(.is-style-rounded) img {
  border-radius: inherit
}
.wp-block-image figcaption {
  margin-top: .5em;
  margin-bottom: 1em
}
.wp-block-image figure {
  margin: 0
}
ol,
p,
ul {
  overflow-wrap: break-word
}
:where(p.has-text-color:not(.has-link-color)) a {
  color: inherit
}
:root {
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px
}
.screen-reader-text {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal!important
}
.screen-reader-text:focus {
  background-color: #ddd;
  clip: auto!important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000
}
html :where(img[class*=wp-image-]) {
  height: auto;
  max-width: 100%
}
@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
  :root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0, 0, 0, 0.28);
    --g-r-n-ycy: 1px solid rgba(0, 0, 0, 0.04);
    --ih-jiz-p: 0 6px 20px rgba(0, 0, 0, 0.2);
    --cglwe-y: 1px solid rgba(0, 0, 0, 0.04);
    --cizosd: 0 6px 16px rgba(0, 0, 0, 0.12);
    --cb-k-zk-c: 1px solid rgba(0, 0, 0, 0.04);
    --e-swdx-p: 0 2px 4px rgba(0, 0, 0, 0.18);
    --g-fi-y-r-e: 1px solid rgba(0, 0, 0, 0.08);
    --f-ya-ggj: cubic-bezier(1, 0, 0.86, 1);
    --bd-d-m-c-q: cubic-bezier(0, 0, 0.1, 1);
    ---bz-mmq: cubic-bezier(0.35, 0, 0.65, 1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #b0b0b0;
    --j-qkgmf: #dddddd;
    --d-nc-lt-s: #ebebeb;
    ---pc-g-v-g: #f7f7f7;
    --f-mkcy-f: #ffffff;
    --k-va-tnc: #c13515;
    --cnr-vp-o: #b32505;
    --f-p-k-v-lb: #fff8f6;
    --fhi-qn-u: #e07912;
    --k-ff-my-a: #008a05;
    --ldbkp-d: #428bff;
    --ihf-tp-q: #ff385c;
    --kd-lqtg: #92174d;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
    --d-e-vybb: radial-gradient(
      circle at center,
      #ff385c 0%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 100%
    );
    --gj-z-dpd: linear-gradient(
      to right,
      #bd1e59 0%,
      #92174d 50%,
      #861453 100%
    );
    --i-n-t-h-mj: radial-gradient(
      circle at center,
      #d70466 0%,
      #bd1e59 30%,
      #92174d 55%,
      #861453 72.5%,
      #6c0d63 90%,
      #6c0d63 100%
    );
    --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
    --j-m-v-dtd: radial-gradient(
      circle at center,
      #6c0d63 0%,
      #59086e 30%,
      #460479 55%,
      #440589 72.5%,
      #3b07bb 90%,
      #3b07bb 100%
    );
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
    --wp-admin-border-width-focus: 1.5px
  }
}
@keyframes components-animate__appear-animation {
  0% {
    transform: translateY(-2em) scaleY(0) scaleX(0)
  }
  to {
    transform: translateY(0) scaleY(1) scaleX(1)
  }
}
@keyframes components-animate__slide-in-animation {
  to {
    transform: translateX(0)
  }
}
@keyframes components-animate__loading {
  0% {
    opacity: .5
  }
  50% {
    opacity: 1
  }
  to {
    opacity: .5
  }
}
@keyframes components-button__busy-animation {
  0% {
    background-position: 200px 0
  }
}
[role=region] {
  position: relative
}
@keyframes components-modal__appear-animation {
  0% {
    transform: translateY(32px)
  }
  to {
    transform: translateY(0)
  }
}
/*!rtl:begin:ignore*/
/*!rtl:end:ignore*/
@keyframes components-resizable-box__top-bottom-animation {
  0% {
    transform: scaleX(0);
    opacity: 0
  }
  to {
    transform: scaleX(1);
    opacity: 1
  }
}
@keyframes components-resizable-box__left-right-animation {
  0% {
    transform: scaleY(0);
    opacity: 0
  }
  to {
    transform: scaleY(1);
    opacity: 1
  }
}
/*!rtl:begin:ignore*/
/*!rtl:end:ignore*/
@keyframes components-button__appear-animation {
  0% {
    transform: scaleY(0)
  }
  to {
    transform: scaleY(1)
  }
}
@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
  :root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0, 0, 0, 0.28);
    --g-r-n-ycy: 1px solid rgba(0, 0, 0, 0.04);
    --ih-jiz-p: 0 6px 20px rgba(0, 0, 0, 0.2);
    --cglwe-y: 1px solid rgba(0, 0, 0, 0.04);
    --cizosd: 0 6px 16px rgba(0, 0, 0, 0.12);
    --cb-k-zk-c: 1px solid rgba(0, 0, 0, 0.04);
    --e-swdx-p: 0 2px 4px rgba(0, 0, 0, 0.18);
    --g-fi-y-r-e: 1px solid rgba(0, 0, 0, 0.08);
    --f-ya-ggj: cubic-bezier(1, 0, 0.86, 1);
    --bd-d-m-c-q: cubic-bezier(0, 0, 0.1, 1);
    ---bz-mmq: cubic-bezier(0.35, 0, 0.65, 1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #b0b0b0;
    --j-qkgmf: #dddddd;
    --d-nc-lt-s: #ebebeb;
    ---pc-g-v-g: #f7f7f7;
    --f-mkcy-f: #ffffff;
    --k-va-tnc: #c13515;
    --cnr-vp-o: #b32505;
    --f-p-k-v-lb: #fff8f6;
    --fhi-qn-u: #e07912;
    --k-ff-my-a: #008a05;
    --ldbkp-d: #428bff;
    --ihf-tp-q: #ff385c;
    --kd-lqtg: #92174d;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
    --d-e-vybb: radial-gradient(
      circle at center,
      #ff385c 0%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 100%
    );
    --gj-z-dpd: linear-gradient(
      to right,
      #bd1e59 0%,
      #92174d 50%,
      #861453 100%
    );
    --i-n-t-h-mj: radial-gradient(
      circle at center,
      #d70466 0%,
      #bd1e59 30%,
      #92174d 55%,
      #861453 72.5%,
      #6c0d63 90%,
      #6c0d63 100%
    );
    --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
    --j-m-v-dtd: radial-gradient(
      circle at center,
      #6c0d63 0%,
      #59086e 30%,
      #460479 55%,
      #440589 72.5%,
      #3b07bb 90%,
      #3b07bb 100%
    );
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
    --wp-admin-border-width-focus: 1.5px
  }
}
@keyframes block-editor-inserter__toggle__fade-in-animation {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes hide-during-dragging {
  to {
    position: fixed;
    transform: translate(9999px,9999px)
  }
}
@keyframes loadingpulse {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
  :root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0, 0, 0, 0.28);
    --g-r-n-ycy: 1px solid rgba(0, 0, 0, 0.04);
    --ih-jiz-p: 0 6px 20px rgba(0, 0, 0, 0.2);
    --cglwe-y: 1px solid rgba(0, 0, 0, 0.04);
    --cizosd: 0 6px 16px rgba(0, 0, 0, 0.12);
    --cb-k-zk-c: 1px solid rgba(0, 0, 0, 0.04);
    --e-swdx-p: 0 2px 4px rgba(0, 0, 0, 0.18);
    --g-fi-y-r-e: 1px solid rgba(0, 0, 0, 0.08);
    --f-ya-ggj: cubic-bezier(1, 0, 0.86, 1);
    --bd-d-m-c-q: cubic-bezier(0, 0, 0.1, 1);
    ---bz-mmq: cubic-bezier(0.35, 0, 0.65, 1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #b0b0b0;
    --j-qkgmf: #dddddd;
    --d-nc-lt-s: #ebebeb;
    ---pc-g-v-g: #f7f7f7;
    --f-mkcy-f: #ffffff;
    --k-va-tnc: #c13515;
    --cnr-vp-o: #b32505;
    --f-p-k-v-lb: #fff8f6;
    --fhi-qn-u: #e07912;
    --k-ff-my-a: #008a05;
    --ldbkp-d: #428bff;
    --ihf-tp-q: #ff385c;
    --kd-lqtg: #92174d;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
    --d-e-vybb: radial-gradient(
      circle at center,
      #ff385c 0%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 100%
    );
    --gj-z-dpd: linear-gradient(
      to right,
      #bd1e59 0%,
      #92174d 50%,
      #861453 100%
    );
    --i-n-t-h-mj: radial-gradient(
      circle at center,
      #d70466 0%,
      #bd1e59 30%,
      #92174d 55%,
      #861453 72.5%,
      #6c0d63 90%,
      #6c0d63 100%
    );
    --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
    --j-m-v-dtd: radial-gradient(
      circle at center,
      #6c0d63 0%,
      #59086e 30%,
      #460479 55%,
      #440589 72.5%,
      #3b07bb 90%,
      #3b07bb 100%
    );
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
    --wp-admin-border-width-focus: 1.5px
  }
}
@keyframes nux-pulse {
  to {
    background: rgba(0,115,156,0);
    transform: scale(1)
  }
}
@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
  :root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0, 0, 0, 0.28);
    --g-r-n-ycy: 1px solid rgba(0, 0, 0, 0.04);
    --ih-jiz-p: 0 6px 20px rgba(0, 0, 0, 0.2);
    --cglwe-y: 1px solid rgba(0, 0, 0, 0.04);
    --cizosd: 0 6px 16px rgba(0, 0, 0, 0.12);
    --cb-k-zk-c: 1px solid rgba(0, 0, 0, 0.04);
    --e-swdx-p: 0 2px 4px rgba(0, 0, 0, 0.18);
    --g-fi-y-r-e: 1px solid rgba(0, 0, 0, 0.08);
    --f-ya-ggj: cubic-bezier(1, 0, 0.86, 1);
    --bd-d-m-c-q: cubic-bezier(0, 0, 0.1, 1);
    ---bz-mmq: cubic-bezier(0.35, 0, 0.65, 1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #b0b0b0;
    --j-qkgmf: #dddddd;
    --d-nc-lt-s: #ebebeb;
    ---pc-g-v-g: #f7f7f7;
    --f-mkcy-f: #ffffff;
    --k-va-tnc: #c13515;
    --cnr-vp-o: #b32505;
    --f-p-k-v-lb: #fff8f6;
    --fhi-qn-u: #e07912;
    --k-ff-my-a: #008a05;
    --ldbkp-d: #428bff;
    --ihf-tp-q: #ff385c;
    --kd-lqtg: #92174d;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
    --d-e-vybb: radial-gradient(
      circle at center,
      #ff385c 0%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 100%
    );
    --gj-z-dpd: linear-gradient(
      to right,
      #bd1e59 0%,
      #92174d 50%,
      #861453 100%
    );
    --i-n-t-h-mj: radial-gradient(
      circle at center,
      #d70466 0%,
      #bd1e59 30%,
      #92174d 55%,
      #861453 72.5%,
      #6c0d63 90%,
      #6c0d63 100%
    );
    --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
    --j-m-v-dtd: radial-gradient(
      circle at center,
      #6c0d63 0%,
      #59086e 30%,
      #460479 55%,
      #440589 72.5%,
      #3b07bb 90%,
      #3b07bb 100%
    );
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
    --wp-admin-border-width-focus: 1.5px
  }
}
:root {
  --h-l-f-om-o: 4px;
  --go-h-jh-l: 8px;
  --i-g-gvoq: 12px;
  --g-ki-r-rq: 16px;
  --j-mdfu-h: 20px;
  --jx-b-v-zt: 0 8px 28px rgba(0, 0, 0, 0.28);
  --g-r-n-ycy: 1px solid rgba(0, 0, 0, 0.04);
  --ih-jiz-p: 0 6px 20px rgba(0, 0, 0, 0.2);
  --cglwe-y: 1px solid rgba(0, 0, 0, 0.04);
  --cizosd: 0 6px 16px rgba(0, 0, 0, 0.12);
  --cb-k-zk-c: 1px solid rgba(0, 0, 0, 0.04);
  --e-swdx-p: 0 2px 4px rgba(0, 0, 0, 0.18);
  --g-fi-y-r-e: 1px solid rgba(0, 0, 0, 0.08);
  --f-ya-ggj: cubic-bezier(1, 0, 0.86, 1);
  --bd-d-m-c-q: cubic-bezier(0, 0, 0.1, 1);
  ---bz-mmq: cubic-bezier(0.35, 0, 0.65, 1);
  --bgxgx: #000000;
  --f-k-smk-x: #222222;
  --fo-jk-r-s: #717171;
  --iw-ihca: #b0b0b0;
  --j-qkgmf: #dddddd;
  --d-nc-lt-s: #ebebeb;
  ---pc-g-v-g: #f7f7f7;
  --f-mkcy-f: #ffffff;
  --k-va-tnc: #c13515;
  --cnr-vp-o: #b32505;
  --f-p-k-v-lb: #fff8f6;
  --fhi-qn-u: #e07912;
  --k-ff-my-a: #008a05;
  --ldbkp-d: #428bff;
  --ihf-tp-q: #ff385c;
  --kd-lqtg: #92174d;
  --d-u-w-o-m-k: #460479;
  --dc-gy-f-v: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --d-e-vybb: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --gj-z-dpd: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --i-n-t-h-mj: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --j-m-v-dtd: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --jhzm-v-t: 16px;
  --ikx-k-pe: 24px;
  --kksqe-v: 32px;
  --f-fw-z-a-i: 40px;
  --cw-a-a-u-a: 48px;
  --fvsvry: 64px;
  --cy-o-aco: 80px;
  --d-b-mrdy: 2px;
  --h-x-sf-jw: 4px;
  --fgg-f-l-a: 8px;
  --b-y-unon: 12px;
  --jaa-ni-h: 16px;
  --ic-zlb-s: 24px;
  --kc-t-qr-j: 32px;
  --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
  --fy-rs-ca: 18px;
  --d-ar-t-o-n: 22px;
  --lhy-d-yl: 22px;
  --fme-bf-w: 26px;
  --g-zgv-nj: 26px;
  --b-x-z-q-l-e: 30px;
  --cv-p-u-ui: 32px;
  --hu-t-o-g-n: 36px;
  --hr-k-udr: 10px;
  --dpgw-ac: 12px;
  --f-cv-j-j-p: 12px;
  --f-l-h-bac: 16px;
  --c-zdwk-p: 14px;
  --j-p-z-kco: 18px;
  --i-nh-zme: 14px;
  --gvarj-f: 20px;
  --iw-ehf-f: 16px;
  ---s-l-myu: 20px;
  --y-g-ar-y: 16px;
  --cb-pewj: 24px;
  --ll-l-ys-f: 18px;
  --f-xgviq: 24px;
  --kmwb-ss: 18px;
  --j-n-c-d-l-h: 28px;
  --e-y-j-d-v-j: 400;
  --jx-zk-pv: 600;
  --h-oqhch: 800;
  --g-lm-u-p: normal;
  --mq-yk-l: 0.04em;
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color--rgb: 0,124,186;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-10--rgb: 0,107,161;
  --wp-admin-theme-color-darker-20: #005a87;
  --wp-admin-theme-color-darker-20--rgb: 0,90,135;
  --wp-admin-border-width-focus: 2px
}
@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
  :root {
    --h-l-f-om-o: 4px;
    --go-h-jh-l: 8px;
    --i-g-gvoq: 12px;
    --g-ki-r-rq: 16px;
    --j-mdfu-h: 20px;
    --jx-b-v-zt: 0 8px 28px rgba(0, 0, 0, 0.28);
    --g-r-n-ycy: 1px solid rgba(0, 0, 0, 0.04);
    --ih-jiz-p: 0 6px 20px rgba(0, 0, 0, 0.2);
    --cglwe-y: 1px solid rgba(0, 0, 0, 0.04);
    --cizosd: 0 6px 16px rgba(0, 0, 0, 0.12);
    --cb-k-zk-c: 1px solid rgba(0, 0, 0, 0.04);
    --e-swdx-p: 0 2px 4px rgba(0, 0, 0, 0.18);
    --g-fi-y-r-e: 1px solid rgba(0, 0, 0, 0.08);
    --f-ya-ggj: cubic-bezier(1, 0, 0.86, 1);
    --bd-d-m-c-q: cubic-bezier(0, 0, 0.1, 1);
    ---bz-mmq: cubic-bezier(0.35, 0, 0.65, 1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #b0b0b0;
    --j-qkgmf: #dddddd;
    --d-nc-lt-s: #ebebeb;
    ---pc-g-v-g: #f7f7f7;
    --f-mkcy-f: #ffffff;
    --k-va-tnc: #c13515;
    --cnr-vp-o: #b32505;
    --f-p-k-v-lb: #fff8f6;
    --fhi-qn-u: #e07912;
    --k-ff-my-a: #008a05;
    --ldbkp-d: #428bff;
    --ihf-tp-q: #ff385c;
    --kd-lqtg: #92174d;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
    --d-e-vybb: radial-gradient(
      circle at center,
      #ff385c 0%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 100%
    );
    --gj-z-dpd: linear-gradient(
      to right,
      #bd1e59 0%,
      #92174d 50%,
      #861453 100%
    );
    --i-n-t-h-mj: radial-gradient(
      circle at center,
      #d70466 0%,
      #bd1e59 30%,
      #92174d 55%,
      #861453 72.5%,
      #6c0d63 90%,
      #6c0d63 100%
    );
    --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
    --j-m-v-dtd: radial-gradient(
      circle at center,
      #6c0d63 0%,
      #59086e 30%,
      #460479 55%,
      #440589 72.5%,
      #3b07bb 90%,
      #3b07bb 100%
    );
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
    --wp-admin-border-width-focus: 1.5px
  }
}
.wp-block-column .wp-block-image {
  overflow: hidden
}