/*! ALERT COMPONENT */
.alert .btn-primary {
  border-color: #007a87;
  background-color: #007a87;
  color: #fff;
}
.alert .btn-primary:focus,
.alert .btn-primary:hover {
  border-color: #009aab;
  background-color: #009aab;
  color: #fff;
}
.alert .btn-primary:active {
  border-color: #004f58;
  background-color: #004f58;
  color: #fff;
}
.alert-error .btn-primary {
  border-color: #b2725f;
  background-color: #b2725f;
  color: #fff;
}
.alert-error .btn-primary:focus,
.alert-error .btn-primary:hover {
  border-color: #bd8777;
  background-color: #bd8777;
  color: #fff;
}
.alert-error .btn-primary:active {
  border-color: #78483a;
  background-color: #78483a;
  color: #fff;
}
.alert {
  display: table;
  padding: 15px 30px 15px 15px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
}
.alert .alert-icon {
  display: table-cell;
  color: #007a87;
  height: 100%;
  vertical-align: middle;
  -webkit-transform: scale(2.4) translateY(-0.4px);
  -ms-transform: scale(2.4) translateY(-0.4px);
  -moz-transform: scale(2.4) translateY(-0.4px);
  -o-transform: scale(2.4) translateY(-0.4px);
  transform: scale(2.4) translateY(-0.4px);
}
.alert-block {
  text-align: left;
  padding: 25px 40px 25px 25px;
}
.alert-block.alert-with-icon {
  min-height: 100px;
  padding-left: 110px;
}
.alert-block.alert-with-icon .alert-icon {
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  -moz-transform: scale(1) translateY(0);
  -o-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  margin-right: 0;
  display: block;
  position: absolute;
  font-size: 67px;
  top: 14px;
  left: 24.5px;
}
.alert {
  background-color: #c2e4e7;
}
.alert .alert-icon {
  color: #4cb0bb;
}
.alert-error {
  background-color: #ffd1c4;
}
.alert-error .alert-icon {
  color: #e4a593;
}
@media (min-width: 744px) {
  .alert .alert-icon {
    margin-right: 20px;
    display: inline-block;
    vertical-align: baseline;
  }
}
