/*! Calendar component */
.calendar__next-month {
  display: inline-block !important;
  vertical-align: top !important;
  min-height: 100% !important;
  visibility: hidden !important;
}
.calendar__week {
  position: relative !important;
  margin-left: 9px !important;
}
.calendar__week-container {
  color: #222 !important;
  position: absolute !important;
  top: 62px !important;
  text-align: left !important;
}
.calendar__weekdays {
  list-style: none !important;
  margin: 1px 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-size: 14px !important;
  line-height: 18px !important;
}
.calendar__weekday {
  display: inline-block !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 16px !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-weight: 600 !important;
  color: #717171 !important;
  margin-bottom: 6px !important;
}
@media (min-width: 744px) {
  .calendar__weekday {
    margin-bottom: 0 !important;
  }
}
.calendar__date {
  outline: 0 !important;
}
.calendar__controls {
  position: relative !important;
  z-index: 1 !important;
  height: 0 !important;
}
.calendar__prev {
  position: absolute !important;
  bottom: -43px !important;
  left: 37px !important;
}
.calendar__next {
  position: absolute !important;
  bottom: -43px !important;
  right: 37px !important;
}
.calendar__date-wrapper {
  position: relative !important;
  overflow: hidden !important;
  border-radius: 3px !important;
  transition: height 0.2s ease-in-out !important;
}
.calendar__date-content {
  background: 0 0 !important;
  text-align: left !important;
  z-index: 0 !important;
  position: absolute !important;
  left: 9px !important;
}
.calendar__prev-month {
  display: inline-block !important;
  vertical-align: top !important;
  min-height: 100% !important;
  position: absolute !important;
  z-index: -1 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}
.calendar__current-month {
  display: inline-block !important;
  vertical-align: top !important;
  min-height: 100% !important;
}
.calendar__week {
  position: relative !important;
  margin-left: 9px !important;
}
.calendar__text {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  border-radius: 100% !important;
  position: relative !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  color: #222 !important;
  border: 1.5px solid #fff !important;
}
.calendar__text:hover {
  background: #fff !important;
  border: 1.5px solid #222 !important;
}
.calendar__off-text {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  border-radius: 100% !important;
  position: relative !important;
  font-size: 14px !important;
  line-height: 18px !important;
  border: 1.5px solid #fff !important;
  color: #484848 !important;
  font-weight: 600 !important;
  text-decoration: none !important;
  opacity: 0.25 !important;
}
.calendar__border-right {
  box-sizing: border-box !important;
  cursor: pointer !important;
  text-align: center !important;
  position: relative !important;
  background: #fff !important;
  border: 0 !important;
  color: #222 !important;
  padding: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.calendar__border-left {
  box-sizing: border-box !important;
  cursor: pointer !important;
  text-align: center !important;
  position: relative !important;
  background: #fff !important;
  border: 0 !important;
  color: #222 !important;
  padding: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.calendar__day {
  box-sizing: border-box !important;
  cursor: pointer !important;
  text-align: center !important;
  position: relative !important;
  background: #fff !important;
  border: 0 !important;
  color: #222 !important;
  padding: 0 !important;
}
.calendar__month-body {
  border-collapse: separate !important;
}
.calendar__off-border-right {
  box-sizing: border-box !important;
  text-align: center !important;
  position: relative !important;
  cursor: default !important;
  border: 0 !important;
  color: #222 !important;
  padding: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  background: #fff !important;
}
.calendar__off-border-left {
  box-sizing: border-box !important;
  text-align: center !important;
  position: relative !important;
  cursor: default !important;
  border: 0 !important;
  color: #222 !important;
  padding: 0 !important;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  background: #fff !important;
}
.calendar__off {
  box-sizing: border-box !important;
  text-align: center !important;
  position: relative !important;
  cursor: default !important;
  border: 0 !important;
  color: #222 !important;
  padding: 0 !important;
  background: #fff !important;
}
.calendar__month-content {
  background: 0 0 !important;
  text-align: center !important;
  vertical-align: top !important;
  user-select: none !important;
}
.calendar__month-header {
  font-size: 16px !important;
  line-height: 20px !important;
  color: #222 !important;
  text-align: center !important;
  padding-top: 22px !important;
  padding-bottom: 49px !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-weight: 600 !important;
}
.calendar__text {
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  margin-left: 1px !important;
  margin-right: 1px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  border-radius: 100% !important;
  position: relative !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  color: #222 !important;
  border: 1.5px solid #fff !important;
}
.calendar__text:hover {
  background: #fff !important;
  border: 1.5px solid #222 !important;
}
