/* Forms */
.form__switch-secondary {
  appearance: none !important;
  height: 32px !important;
  width: 48px !important;
  background-color: #f2f2f2 !important;
  border-radius: 32px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #ebebeb !important;
  margin: auto !important;
  position: relative !important;
  display: inline-block !important;
  cursor: pointer !important;
  -webkit-tap-highlight-color: transparent !important;
}
.form__switch--checked {
  border-radius: 32px !important;
  border-style: solid !important;
  border-width: 1px !important;
  cursor: pointer !important;
  height: 32px !important;
  position: relative !important;
  min-width: 48px !important;
  width: 48px !important;
  outline: 0 !important;
  background-color: #222 !important;
  border-color: #222 !important;
}
.form__switch-secondary {
  appearance: none !important;
  height: 32px !important;
  width: 48px !important;
  background-color: #f2f2f2 !important;
  border-radius: 32px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #ebebeb !important;
  margin: auto;
  position: relative !important;
  display: inline-block !important;
  cursor: pointer !important;
  -webkit-tap-highlight-color: transparent !important;
}
@supports (--custom: properties) {
  .form__switch-secondary {
    height: var(--size-switch-size, 32px) !important;
    width: var(--size-switch-background-width, 48px) !important;
    background-color: var(--color-accent-bg-gray, #f2f2f2) !important;
    border-radius: var(--border-switch-border-radius, 32px) !important;
    border-width: var(--border-switch-border-width, 1px) !important;
    border-color: var(--color-accent-hr-gray, #ebebeb) !important;
  }
}
.form__check-input:hover + [data-checkbox] {
  border-color: #222 !important;
}
.form__check-input:focus + [data-checkbox] {
  z-index: 1 !important;
}
.form__check-input:focus-visible + [data-checkbox] {
  -webkit-transition: box-shadow 0.2s !important;
  -moz-transition: box-shadow 0.2s !important;
  transition: box-shadow 0.2s !important;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #222, 0 0 0 5px rgba(255, 255, 255, 0.5) !important;
  border-color: #222 !important;
}
@media (prefers-reduced-motion: reduce) {
  .form__check-input:focus-visible + [data-checkbox] {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
.form__check-input:focus[data-focus-visible-added] + [data-checkbox] {
  -webkit-transition: box-shadow 0.2s !important;
  -moz-transition: box-shadow 0.2s !important;
  transition: box-shadow 0.2s !important;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #222, 0 0 0 5px rgba(255, 255, 255, 0.5) !important;
  border-color: #222 !important;
}
@media (prefers-reduced-motion: reduce) {
  .form__check-input:focus[data-focus-visible-added] + [data-checkbox] {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
.form__check-input:disabled + [data-checkbox] {
  cursor: not-allowed !important;
  background: #f7f7f7 !important;
  border-color: #ebebeb !important;
}
.form__check-input--checked:focus-visible + [data-checkbox] {
  -webkit-transition: box-shadow 0.2s !important;
  -moz-transition: box-shadow 0.2s !important;
  transition: box-shadow 0.2s !important;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #222, 0 0 0 5px rgba(255, 255, 255, 0.5) !important;
  border-color: #222 !important;
}
@media (prefers-reduced-motion: reduce) {
  .form__check-input--checked:focus-visible + [data-checkbox] {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
.form__check-input--checked:focus[data-focus-visible-added] + [data-checkbox] {
  -webkit-transition: box-shadow 0.2s !important;
  -moz-transition: box-shadow 0.2s !important;
  transition: box-shadow 0.2s !important;
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #222, 0 0 0 5px rgba(255, 255, 255, 0.5) !important;
  border-color: #222 !important;
}
@media (prefers-reduced-motion: reduce) {
  .form__check-input--checked:focus[data-focus-visible-added]
    + [data-checkbox] {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
.form__check-input--checked:hover + [data-checkbox] {
  border-color: #000 !important;
  background: #000 !important;
}
.form__check-input--checked:focus + [data-checkbox] {
  z-index: 1 !important;
}
.form__check-input--checked {
  position: absolute !important;
  opacity: 0 !important;
}
.form__check-input--checked:disabled + [data-checkbox] {
  cursor: not-allowed !important;
  background: #ddd !important;
  color: #fff !important;
  border-color: #ddd !important;
}
.form__switch {
  border-radius: 32px !important;
  border-style: solid !important;
  border-width: 1px !important;
  cursor: pointer !important;
  height: 32px !important;
  position: relative !important;
  min-width: 48px !important;
  width: 48px !important;
  outline: 0 !important;
  background-color: #b0b0b0 !important;
  border-color: #b0b0b0 !important;
}
.form__input {
  width: 100% !important;
  border: none !important;
  outline: 0 !important;
  padding: 0 !important;
  margin: 26px 12px 6px !important;
  min-height: 1px !important;
  color: inherit !important;
  background-color: transparent !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  appearance: none !important;
}
.form__check-input {
  position: absolute !important;
  opacity: 0 !important;
}

/* /Forms */
