/*! ------------------- */
/*! Input select        */
/*! ------------------- */
.input-select {
  -moz-appearance: none !important;
  appearance: none !important;
  min-height: auto !important;
  width: 100% !important;
  border: none !important;
  outline: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  color: inherit !important;
  font-family: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  -webkit-appearance: none !important;
  height: auto !important;
  padding: 0 !important;
}
.input-select::-ms-expand {
  display: none !important;
}
.input-select:-moz-focusring {
  outline-color: transparent !important;
  color: transparent !important;
  text-shadow: 0 0 0 #000 !important;
}
.input-select:disabled {
  cursor: not-allowed !important;
}
.input-select::-webkit-input-placeholder {
  color: #717171 !important;
  opacity: 1 !important;
  font-weight: 400 !important;
}
.input-select::-moz-placeholder {
  color: #717171 !important;
  opacity: 1 !important;
  font-weight: 400 !important;
}
.input-select:-moz-placeholder {
  color: #717171 !important;
  opacity: 1 !important;
  font-weight: 400 !important;
}
.input-select:-ms-input-placeholder {
  color: #717171 !important;
  opacity: 1 !important;
  font-weight: 400 !important;
}
.input-select:focus {
  color: #222 !important;
}
.input-select-icon {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  position: absolute !important;
  right: 0 !important;
  display: inline-block !important;
  -webkit-align-items: center !important;
  align-items: center !important;
  -webkit-justify-content: center !important;
  justify-content: center !important;
  height: auto !important;
  max-width: auto !important;
  min-width: auto !important;
  pointer-events: none !important;
  color: #222 !important;
  bottom: 2px !important;
  padding: 0 !important;
}
.input-select-container {
  width: 50% !important;
  padding: 8px 16px !important;
  box-shadow: default !important;
  border-radius: 8px !important;
  display: inline-block !important;
  border: 0 !important;
}
.input-select-container:focus-within {
  box-shadow: #222 0 0 0 2px inset !important;
}
