/* Jumbotron Header */
.jumbotron-header__text[class][class] {
  color: var(--gray-900);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-4xl);
}
.dir.jumbotron-header__text[class][class] {
  margin-bottom: var(--spacer-3);
}
@media (max-width: 743px) {
  .jumbotron-header__text[class][class] {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-xxl);
  }
}
.jumbotron-header__description[class][class] {
  font-size: var(--font-size);
  line-height: var(--line-height-md);
  font-weight: var(--font-weight-normal);
  color: var(--gray-500);
}
.dir.jumbotron-header__description[class][class] {
  margin-top: var(--spacer-3);
}
/* /Jumbotron Header */
