/* Jumbotron Header */
.jumbotron-header__text[class][class] {
  color: var(--f-k-smk-x);
  font-weight: var(--h-oqhch);
  font-size: var(--cv-p-u-ui);
  line-height: var(--hu-t-o-g-n);
}
.dir.jumbotron-header__text[class][class] {
  margin-bottom: var(--spacer-3);
}
@media (max-width: 743px) {
  .jumbotron-header__text[class][class] {
    font-size: var(--lhy-d-yl);
    line-height: var(--fme-bf-w);
  }
}
.jumbotron-header__description[class][class] {
  font-size: var(--font-size);
  line-height: var(---s-l-myu);
  font-weight: var(--e-y-j-d-v-j);
  color: var(--fo-jk-r-s);
}
.dir.jumbotron-header__description[class][class] {
  margin-top: var(--spacer-3);
}
/* /Jumbotron Header */
