/*! SNACKBAR */
.snackbar-view-show {
  animation-duration: 0.5s !important;
  animation-iteration-count: 1 !important;
  animation-fill-mode: both !important;
  font-size: 0px !important;
  animation-name: keyframe_1sh8tyy !important;
}
.snackbar-view-hide {
  animation-duration: 0.5s !important;
  animation-iteration-count: 1 !important;
  animation-fill-mode: both !important;
  font-size: 0px !important;
  animation-name: keyframe_ita8t6 !important;
}
.snackbar-box {
  display: inline-flex !important;
  contain: content !important;
  box-shadow: rgb(0 0 0 / 20%) 0 6px 20px !important;
  border-radius: 12px !important;
  border: 1px solid #ddd !important;
  background-color: #fff !important;
  max-width: 375px !important;
  padding-bottom: 12px !important;
  padding-left: 16px !important;
}
.snackbar-icon {
  -webkit-box-align: center !important;
  display: flex !important;
  align-items: center !important;
  margin-top: 12px !important;
  padding-right: 8px !important;
  height: 18px !important;
  width: 16px !important;
  box-sizing: content-box !important;
}
.snackbar-text-wrapper {
  -webkit-box-align: baseline !important;
  display: flex !important;
  align-items: baseline !important;
  flex-flow: row wrap !important;
  color: #222 !important;
  font-size: 14px !important;
  line-height: 18px !important;
}
.snackbar-text-label {
  font-weight: 400 !important;
  margin-right: 16px !important;
  margin-top: 12px !important;
}
