/*! Tab component */
.tab__on-wrapper {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: horizontal !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: row !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  color: #222 !important;
  -webkit-justify-content: space-between !important;
  justify-content: space-between !important;
}
@media (min-width: 744px) {
  .tab__on-wrapper {
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
}
.tab__on-wrapper-text {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 400 !important;
  margin-bottom: 4px !important;
}
.tab__on-btn-wrapper {
  font-size: 16px !important;
  line-height: 20px !important;
}
@media (min-width: 744px) {
  .tab__on-btn-wrapper {
    padding-top: 8px !important;
  }
}
.tab__content-wrapper {
  min-height: 500px !important;
}
.tab__list {
  display: flex !important;
  white-space: nowrap !important;
  overflow: visible !important;
}
.tab__list-btn-primary {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  border: none !important;
  background: 0 0 !important;
  padding: 10px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s !important;
  position: relative !important;
  outline: 0 !important;
  color: #222 !important;
  cursor: default !important;
}
.tab__list-btn-primary::after {
  content: '' !important;
  position: absolute !important;
  background-color: #222 !important;
  bottom: -6px !important;
  left: 10px !important;
  width: calc(100% - 20px) !important;
  height: 2px !important;
}
.tab__list-btn-secondary {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  border: none !important;
  background: 0 0 !important;
  color: #717171 !important;
  padding: 10px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s !important;
  position: relative !important;
  outline: 0 !important;
}
@media (max-width: 744px) {
  .tab__content-visibility {
    display: block !important;
  }
}
@media (max-width: 375px) {
  .tab__content-visibility {
    display: block !important;
  }
}
.tab__list {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  white-space: nowrap !important;
  overflow: visible !important;
}
.tab__list-btn-primary {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  border: none !important;
  background: 0 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  -webkit-transition: box-shadow 0.2s, -webkit-transform 0.1s, transform 0.1s !important;
  -moz-transition: box-shadow 0.2s, transform 0.1s !important;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s !important;
  position: relative !important;
  outline: 0 !important;
  color: #222 !important;
  cursor: default !important;
}
.tab__list-btn-primary:first-child {
  margin-left: -10px !important;
}
.tab__list-btn-primary:last-child {
  margin-right: 0 !important;
}
.tab__list-btn-primary::-moz-focus-inner {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.tab__list-btn-primary:focus::-moz-focus-inner {
  border: none !important;
}
.tab__list-btn-primary:-moz-focusring {
  outline: 0 !important;
}
.tab__list-btn-primary:focus-visible {
  -webkit-transition: box-shadow 0.2s !important;
  -moz-transition: box-shadow 0.2s !important;
  transition: box-shadow 0.2s !important;
  border: none !important;
  background: #f7f7f7 !important;
  color: #222 !important;
  box-shadow: 0 0 0 2px #222, 0 0 0 4px rgba(255, 255, 255, 0.8) !important;
}
@media (prefers-reduced-motion: reduce) {
  .tab__list-btn-primary:focus-visible {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
@media (hover: hover) {
  .tab__list-btn-primary:hover {
    background: #f7f7f7 !important;
  }
}
.tab__list-btn-primary:disabled {
  cursor: not-allowed !important;
  color: #ddd !important;
}
@media (hover: hover) {
  .tab__list-btn-primary:disabled:hover {
    background: 0 0 !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .tab__list-btn-primary {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
.tab__list-btn-primary:active {
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}
.tab__list-btn-primary::after {
  content: '' !important;
  position: absolute !important;
  background-color: #222 !important;
  bottom: -6px !important;
  left: 10px !important;
  width: -webkit-calc(100% - 20px) !important;
  width: -moz-calc(100% - 20px) !important;
  width: calc(100% - 20px) !important;
  height: 2px !important;
}
.tab__list-btn-secondary {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  border: none !important;
  background: 0 0 !important;
  color: #717171 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  -webkit-transition: box-shadow 0.2s, -webkit-transform 0.1s, transform 0.1s !important;
  -moz-transition: box-shadow 0.2s, transform 0.1s !important;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s !important;
  position: relative !important;
  outline: 0 !important;
}
.tab__list-btn-secondary:first-child {
  margin-left: -10px !important;
}
.tab__list-btn-secondary:last-child {
  margin-right: 0 !important;
}
.tab__list-btn-secondary::-moz-focus-inner {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
.tab__list-btn-secondary:focus::-moz-focus-inner {
  border: none !important;
}
.tab__list-btn-secondary:-moz-focusring {
  outline: 0 !important;
}
.tab__list-btn-secondary:focus-visible {
  -webkit-transition: box-shadow 0.2s !important;
  -moz-transition: box-shadow 0.2s !important;
  transition: box-shadow 0.2s !important;
  border: none !important;
  background: #f7f7f7 !important;
  color: #222 !important;
  box-shadow: 0 0 0 2px #222, 0 0 0 4px rgba(255, 255, 255, 0.8) !important;
}
@media (prefers-reduced-motion: reduce) {
  .tab__list-btn-secondary:focus-visible {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
@media (hover: hover) {
  .tab__list-btn-secondary:hover {
    background: #f7f7f7 !important;
  }
}
.tab__list-btn-secondary:active {
  -webkit-transform: scale(0.96) !important;
  -ms-transform: scale(0.96) !important;
  transform: scale(0.96) !important;
}
.tab__list-btn-secondary:disabled {
  cursor: not-allowed !important;
  color: #ddd !important;
}
@media (hover: hover) {
  .tab__list-btn-secondary:disabled:hover {
    background: 0 0 !important;
  }
}
@media (prefers-reduced-motion: reduce) {
  .tab__list-btn-secondary {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
  }
}
@media (max-width: 744px) {
  .tab__content-visibility {
    display: block !important;
  }
}
.tab__content-visibility {
  display: none !important;
}
@media print {
  .tab__content-visibility {
    display: block !important;
  }
}
@media (min-width: 744px) {
  .tab__content-visibility {
    display: block !important;
  }
}
.tab__header-desc {
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  color: #717171 !important;
}
.tab__checkbox-mr-16 {
  margin-right: 16px !important;
}
