/* Tooltip */
.tooltip {
  z-index: 3000;
  max-width: 280px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: opacity 0.28s;
  -o-transition: opacity 0.28s;
  -moz-transition: opacity 0.28s;
  transition: opacity 0.28s;
}
.tooltip .panel-body,
.tooltip .panel-header,
.tooltip ol.panel-body > li,
.tooltip ul.panel-body > li {
  padding: 14px;
}
.tooltip .panel-body:before {
  left: 14px;
  right: 14px;
}
.tooltip {
  position: fixed;
  top: -9999px;
  left: -9999px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.tooltip[aria-hidden='false'] {
  opacity: 1;
}
.tooltip[aria-hidden='true'] {
  z-index: -1;
  display: none;
}
/* /Tooltip */
