/* Card Banner */
.card-banner__container {
  display: block !important;
  border-radius: 12px !important;
  border: 0 !important;
  overflow: hidden !important;
  position: relative !important;
  text-align: left !important;
  text-decoration: none !important;
  width: 100% !important;
  height: -webkit-calc(1.25 * (100vw - 80px)) !important;
  height: -moz-calc(1.25 * (100vw - 80px)) !important;
  height: calc(1.25 * (100vw - 80px)) !important;
}
@media (min-width: 744px) {
  .card-banner__container {
    height: 330px !important;
  }
}
.card-banner__img-wrapper {
  position: absolute !important;
  bottom: -1px !important;
  right: -1px !important;
  left: -1px !important;
  top: -1px !important;
}
.card-banner__body {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  -webkit-box-direction: normal !important;
  -webkit-box-orient: vertical !important;
  position: relative !important;
  height: 100% !important;
  width: 220px !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-align-items: flex-start !important;
  align-items: flex-start !important;
  padding: 20px !important;
}
@media (min-width: 744px) {
  .card-banner__body {
    padding: 24px !important;
  }
}
.card-banner__heading {
  -webkit-flex: 1 !important;
  -ms-flex: 1 1 0% !important;
  flex: 1 !important;
}
@media (min-width: 744px) {
  .card-banner__heading {
    width: 300px !important;
  }
}
@media (min-width: 1128px) {
  .card-banner__heading {
    width: 235px !important;
  }
}
.card-banner__subtitle {
  font-size: 12px !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  margin-bottom: 2px !important;
}
.card-banner__title {
  font-size: 22px !important;
  line-height: 26px !important;
  font-weight: 600 !important;
  letter-spacing: -0.2px !important;
}
@media (min-width: 1440px) {
  .card-banner__title {
    font-size: 26px !important;
    line-height: 30px !important;
  }
}
.dir.card-banner[class][class] {
  cursor: pointer;
}
/* /Card Banner */
