/*! CARD HORIZONTAL OUTLINED */
.card-horizontal-outlined__time-list[class][class] {
  scrollbar-width: none;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  overflow-x: scroll;
  scroll-padding: 50%;
  scroll-snap-type: x mandatory;
}
.dir.card-horizontal-outlined__time-list[class][class] {
  padding: 0;
}
.dir-ltr.card-horizontal-outlined__time-list[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}
.card-horizontal-outlined__time-list[class][class]::-webkit-scrollbar {
  display: none;
}
@media (min-width: 744px) {
  .card-horizontal-outlined__time-list[class][class] {
    overflow: visible;
  }
}
.card-horizontal-outlined__time-item[class][class] {
  scroll-snap-align: center;
}
.dir.card-horizontal-outlined__time-item[class][class] {
  margin-bottom: var(--spacer-3);
}
.dir-ltr.card-horizontal-outlined__time-item[class][class] {
  margin-right: 6px;
}
.dir-ltr.card-horizontal-outlined__time-item[class][class]:last-child {
  margin-right: 0;
}
.card-horizontal-outlined__btn[class][class] {
  color: var(--gray-900);
  font-weight: var(--font-weight-semibold);
  white-space: nowrap;
}
.dir.card-horizontal-outlined__btn[class][class] {
  background: var(--white);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--availability-list-item_box-shadow);
  padding: var(--spacer-4);
}
@media (min-width: 744px) {
  .dir.card-horizontal-outlined__btn[class][class] {
    border-radius: var(--border-radius);
    padding-top: var(--spacer-3);
    padding-bottom: var(--spacer-3);
  }
}
.card-horizontal-outlined__btn-text-size[class][class] {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}
.card-horizontal-outlined[class][class] {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.dir.card-horizontal-outlined[class][class] {
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius-lg);
  padding: var(--spacer-4);
}
.dir-ltr.card-horizontal-outlined[class][class] {
  padding-right: var(--spacer-5);
}
.card-horizontal-outlined__media[class][class] {
  width: 123px;
}
.card-horizontal-outlined__body[class][class] {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dir-ltr.card-horizontal-outlined__body[class][class] {
  margin-left: var(--spacer-5);
}
.card-horizontal-outlined__btn-save-wrapper[class][class] {
  display: flex;
  align-self: flex-end;
  height: 20px;
}
.dir.card-horizontal-outlined__btn-save-wrapper[class][class] {
  margin-bottom: var(--spacer-2);
}
.card-horizontal-outlined__price-info[class][class] {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}
