/*! ---------- */
/*! Card Basic */
/*! ---------- */
.card-basic__title[class][class] {
  color: var(--gray-900);
  font-size: var(--font-size-md);
  line-height: var(--line-height-lg);
  font-weight: var(--font-weight-semibold);
  display: block;
}
.card-basic[class][class] {
  display: block;
}
.dir.card-basic__inner[class][class] {
  padding: 25px;
}
.card-basic__position[class][class] {
  position: relative;
}
.card-basic__outer[class][class] {
  outline: 0;
}
.dir.card-basic__outer[class][class] {
  border-radius: inherit;
  margin-top: 1px;
}
.dir.card-basic__outer[class][class]::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}
.dir.card-basic__outer[class][class]:focus::-moz-focus-inner {
  border: none;
}
.card-basic__outer[class][class]:-moz-focusring {
  outline: 0;
}
.card-basic__z-index[class][class] {
  z-index: 1;
}
.dir.card-basic__outer[class][class]:focus-visible {
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 2px var(--gray-900);
}
@media (prefers-reduced-motion: reduce) {
  .dir.card-basic__outer[class][class]:focus-visible {
    transition: none;
  }
}
