/*! CARD ALT 4 */
.card-alt-4__ratings[class][class] {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  align-items: center;
  display: flex;
  width: 100%;
}
.card-alt-4__overlay[class][class] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  top: 0;
  pointer-events: none;
}
.card-alt-4__overlay-top[class][class] {
  display: flex;
  justify-content: space-between;
}
.card-alt-4__btn-pause[class][class] {
  appearance: none;
  border: 0;
  outline: 0;
  margin: -7px;
  padding: 7px;
  color: buttontext;
  touch-action: manipulation;
  display: inline-block;
  position: relative;
  color: var(--gray-900);
  color: var(--white);
  pointer-events: all;
}
.dir.card-alt-4__btn-pause[class][class] {
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: 0 0;
  transition: transform 0.25s;
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible {
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 5px rgba(255, 255, 255, 0.7);
}
@media (prefers-reduced-motion: reduce) {
  .dir.card-alt-4__btn-pause[class][class] {
    transition: none;
  }
}
.dir.card-alt-4__btn-pause[class][class]:active {
  transform: scale(0.92);
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible {
  transition: box-shadow 0.2s;
  box-shadow: none;
}
@media (prefers-reduced-motion: reduce) {
  .dir.card-alt-4__btn-pause[class][class]:focus-visible {
    transition: none;
  }
}
.dir-ltr.card-alt-4__btn-pause[class][class]::before {
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-alt-4__btn-pause[class][class]:active::before,
.card-alt-4__btn-pause[class][class]:hover::before {
  backdrop-filter: blur(14px);
}
.card-alt-4__btn-pause[class][class]:focus-visible {
  backdrop-filter: blur(14px);
}
.card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-icon-wrapper[class][class] {
  color: var(--gray-900);
  display: flex;
  align-items: center;
}
.dir-ltr.card-alt-4__rounded-br[class][class] {
  border-bottom-right-radius: var(--media-container_border-radius);
}
.dir-ltr.card-alt-4__rounded-tr[class][class] {
  border-top-right-radius: var(--media-container_border-radius);
}
.card-alt-4__media-container[class][class] {
  overflow: hidden;
  position: relative;
  -webkit-mask-image: -webkit-radial-gradient(white, #000);
  mask-image: -webkit-radial-gradient(white, #000);
  -webkit-mask-image: -webkit-radial-gradient(white, #000);
}
.card-alt-4__ratings-container[class][class] {
  display: flex;
  align-items: center;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}
.card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-icon-wrapper[class][class] {
  color: var(--primary-color);
  display: flex;
  align-items: center;
}
.dir.card-alt-4__media-container[class][class]::after {
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.dir-ltr.card-alt-4__media-container[class][class]::after {
  left: 0;
  right: 0;
}
.dir-rtl.card-alt-4__media-container[class][class]::after {
  right: 0;
  left: 0;
}
.card-alt-4[class][class] {
  font-weight: var(--font-weight-normal);
  color: var(--gray-900);
  position: relative;
}
.dir.card-alt-4__media[class][class] {
  margin-bottom: var(--spacer-3);
}
@media (min-width: 744px) {
  .dir.card-alt-4__media[class][class] {
    margin-bottom: 10px;
  }
}
.card-alt-4__price-info[class][class] {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--theme_typography-color-primary, var(--gray-900));
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.dir-ltr.card-alt-4__price-info[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}
.dir-rtl.card-alt-4__price-info[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}
.card-alt-4__price[class][class],
.card-alt-4__starting-price[class][class] {
  font-weight: var(--font-weight-bold);
}
.card-alt-4__lite-image-wrapper[class][class] {
  position: relative;
}
.card-alt-4__btn-pause[class][class] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  outline: 0;
  margin: -7px;
  padding: 7px;
  color: buttontext;
  touch-action: manipulation;
  display: inline-block;
  position: relative;
  color: var(--gray-900);
  -webkit-transition: -webkit-transform 0.25s;
  color: var(--white);
  pointer-events: all;
}
.dir.card-alt-4__btn-pause[class][class] {
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  background: 0 0;
  -webkit-transition: transform 0.25s;
  transition: transform 0.25s;
}
.card-alt-4__btn-pause[class][class]:focus-visible {
  outline: 0;
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible {
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 5px rgba(255, 255, 255, 0.7);
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible:focus::-moz-focus-inner {
  border: none;
}
.card-alt-4__btn-pause[class][class]:focus-visible:-moz-focusring {
  outline: 0;
}
.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added] {
  outline: 0;
}
.dir.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added] {
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 5px rgba(255, 255, 255, 0.7);
}
.dir.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added]::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}
.dir.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added]:focus::-moz-focus-inner {
  border: none;
}
.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added]:-moz-focusring {
  outline: 0;
}
.card-alt-4__btn-pause[class][class]:disabled {
  opacity: 0.5;
  color: graytext;
}
.dir.card-alt-4__btn-pause[class][class]:disabled {
  cursor: not-allowed;
}
@media (prefers-reduced-motion: reduce) {
  .dir.card-alt-4__btn-pause[class][class] {
    -webkit-transition: none;
    transition: none;
  }
}
.card-alt-4__btn-pause[class][class]:hover {
  color: var(--black);
}
.dir.card-alt-4__btn-pause[class][class]:hover::before {
  background: var(--gray-100);
}
.card-alt-4__btn-pause[class][class]:active {
  color: var(--black);
}
.dir.card-alt-4__btn-pause[class][class]:active {
  -webkit-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
}
.dir.card-alt-4__btn-pause[class][class]:active::before {
  background: var(--gray-100);
}
.dir.card-alt-4__btn-pause[class][class]::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}
.dir.card-alt-4__btn-pause[class][class]:focus::-moz-focus-inner {
  border: none;
}
.card-alt-4__btn-pause[class][class]:-moz-focusring {
  outline: 0;
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible {
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  box-shadow: none;
}
@media (prefers-reduced-motion: reduce) {
  .dir.card-alt-4__btn-pause[class][class]:focus-visible {
    -webkit-transition: none;
    transition: none;
  }
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible::before {
  box-shadow: 0 0 0 2px var(--gray-900), 0 0 0 4px rgba(255, 255, 255, 0.8);
  background: var(--gray-100);
}
.dir.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added] {
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
  box-shadow: none;
}
@media (prefers-reduced-motion: reduce) {
  .dir.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added] {
    -webkit-transition: none;
    transition: none;
  }
}
.dir.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added]::before {
  box-shadow: 0 0 0 2px var(--gray-900), 0 0 0 4px rgba(255, 255, 255, 0.8);
  background: var(--gray-100);
}
.card-alt-4__btn-pause[class][class]:disabled {
  color: var(--gray-300);
}
.dir.card-alt-4__btn-pause[class][class]:disabled::before {
  background: 0 0;
}
.card-alt-4__btn-pause[class][class]::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 32px;
  height: 32px;
}
.dir.card-alt-4__btn-pause[class][class]::before {
  border-radius: 50%;
}
.dir-ltr.card-alt-4__btn-pause[class][class]::before {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.dir-rtl.card-alt-4__btn-pause[class][class]::before {
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
.card-alt-4__btn-pause[class][class]::before {
  width: 32px;
  height: 32px;
}
.card-alt-4__btn-pause[class][class]:hover {
  color: var(--white);
}
.card-alt-4__btn-pause[class][class]:hover::before {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}
.dir.card-alt-4__btn-pause[class][class]:hover::before {
  background: rgba(255, 255, 255, 0.16);
}
.card-alt-4__btn-pause[class][class]:active {
  color: var(--white);
}
.card-alt-4__btn-pause[class][class]:active::before {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}
.dir.card-alt-4__btn-pause[class][class]:active::before {
  background: rgba(255, 255, 255, 0.16);
}
.card-alt-4__btn-pause[class][class]:focus-visible {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}
.dir.card-alt-4__btn-pause[class][class]:focus-visible {
  background: rgba(255, 255, 255, 0.16);
}
.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added] {
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}
.dir.card-alt-4__btn-pause[class][class]:focus[data-focus-visible-added] {
  background: rgba(255, 255, 255, 0.16);
}
.card-alt-4__btn-pause-icon-wrapper[class][class] {
  position: relative;
}
.card-alt-4__ratings[class][class] {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.dir-ltr.card-alt-4__ratings[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}
.dir-rtl.card-alt-4__ratings[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}
.card-alt-4__separator[class][class] {
  color: var(--theme_typography-color-secondary, var(--gray-500));
}
.dir.card-alt-4__separator[class][class] {
  margin-left: var(--spacer-2);
  margin-right: var(--spacer-2);
}
.card-alt-4__location[class][class] {
  line-height: var(--line-height-sm);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: var(--theme_typography-color-secondary, var(--gray-500));
}
@supports (overflow: clip) {
  .card-alt-4__location[class][class] {
    overflow: clip;
  }
}
.card-alt-4__location--small[class][class] {
  line-height: var(--line-height-xs);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
@supports (overflow: clip) {
  .card-alt-4__location--small[class][class] {
    overflow: clip;
  }
}
.card-alt-4__overlay[class][class] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  top: 0;
  pointer-events: none;
}
.dir.card-alt-4__overlay[class][class] {
  left: 0;
  right: 0;
}
.card-alt-4__overlay-top[class][class] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.dir.card-alt-4__overlay-top[class][class] {
  padding: var(--media-overlay_top-row-padding);
}
.card-alt-4__overlay-bottom[class][class] {
  visibility: hidden;
}
.dir.card-alt-4__overlay-bottom[class][class] {
  padding: 10px 15px;
}
.card-alt-4__text-color[class][class] {
  color: var(--gray-500);
}
.card-alt-4__text[class][class] {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  line-height: var(--line-height-xs);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.dir.card-alt-4__text[class][class] {
  margin-bottom: var(--spacer-1);
  margin-top: var(--spacer-3);
}
@supports (overflow: clip) {
  .card-alt-4__text[class][class] {
    overflow: clip;
  }
}
@media (min-width: 744px) {
  .card-alt-4__text[class][class] {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-md);
    line-height: var(--line-height-md);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  @supports (overflow: clip) {
    .card-alt-4__text[class][class] {
      overflow: clip;
    }
  }
}
.card-alt-4__text-sm[class][class] {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}
.card-alt-4__media-container[class][class] {
  overflow: hidden;
  position: relative;
  mask-image: -webkit-radial-gradient(white, #000);
  -webkit-mask-image: -webkit-radial-gradient(white, #000);
}
@supports (overflow: clip) {
  .card-alt-4__media-container[class][class] {
    overflow: clip;
  }
}
.card-alt-4__media-container[class][class]::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
.dir.card-alt-4__media-container[class][class]::after {
  left: 0;
  right: 0;
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.dir-ltr.card-alt-4__rounded-bl[class][class] {
  border-bottom-left-radius: var(--media-container_border-radius);
}
.dir-ltr.card-alt-4__rounded-br[class][class],
.dir-rtl.card-alt-4__rounded-bl[class][class] {
  border-bottom-right-radius: var(--media-container_border-radius);
}
.dir-rtl.card-alt-4__rounded-br[class][class] {
  border-bottom-left-radius: var(--media-container_border-radius);
}
.dir-ltr.card-alt-4__rounded-tl[class][class] {
  border-top-left-radius: var(--media-container_border-radius);
}
.dir-ltr.card-alt-4__rounded-tr[class][class],
.dir-rtl.card-alt-4__rounded-tl[class][class] {
  border-top-right-radius: var(--media-container_border-radius);
}
.dir-rtl.card-alt-4__rounded-tr[class][class] {
  border-top-left-radius: var(--media-container_border-radius);
}
.card-alt-4__pointer-events[class][class] {
  pointer-events: none;
}
.dir-rtl.card-alt-4__title-wrapper[class][class] {
  margin: var(--margin-top, 0) var(--margin-left, 0) var(--margin-bottom, 0)
    var(--margin-right, 0);
}
.card-alt-4__title-fw[class][class] {
  font-weight: var(--title_font-weight);
}
.card-alt-4__title[class][class] {
  font-size: var(--font-size);
  line-height: var(--line-height-md);
  line-height: var(--line-height-md);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--title_num-lines);
}
@supports (overflow: clip) {
  .card-alt-4__title[class][class] {
    overflow: clip;
  }
}
.card-alt-4__title-sm[class][class] {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  line-height: var(--line-height-sm);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--title_num-lines);
}
@supports (overflow: clip) {
  .card-alt-4__title-sm[class][class] {
    overflow: clip;
  }
}
.card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-icon-wrapper[class][class] {
  color: var(--primary-color);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.dir-ltr.card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-icon-wrapper[class][class] {
  margin-right: var(--spacer-2);
}
.dir-rtl.card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-icon-wrapper[class][class] {
  margin-left: var(--spacer-2);
}
.card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-rating[class][class] {
  color: var(--gray-900);
}
.card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-total[class][class] {
  color: var(--gray-500);
}
.bi6b9fr[class][class].card-alt-4__ratings-container[class][class]
  .card-alt-4__ratings-rating[class][class] {
  font-weight: var(--font-weight-semibold);
}
.card-alt-4__title-wrapper[class][class] {
  color: var(--theme_typography-color-primary, var(--gray-900));
  pointer-events: none;
  position: relative;
}
.dir-ltr.card-alt-4__title-wrapper[class][class] {
  margin: var(--margin-top, 0) var(--margin-right, 0) var(--margin-bottom, 0)
    var(--margin-left, 0);
}
.card-alt-4__ratings-container[class][class] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}
