/* Card */
.card__carousel[class][class] {
  --mis: var(--contentscroller_scroller_margin-inline-start);
  --mie: var(--contentscroller_scroller_margin-inline-end);
  grid-area: var(--contentscroller_scroller_grid-area, scroller);
  margin-block-start: var(--contentscroller_scroller_margin-block-start, unset);
  margin-block-end: var(--contentscroller_scroller_margin-block-end, unset);
  margin-inline-start: var(--mis, calc(-1 * var(--contentscroller_peek, 32px)));
  margin-inline-end: var(--mie, calc(-1 * var(--contentscroller_peek, 32px)));
  place-self: var(--contentscroller_scroller_place-self, auto);
}
.card__carousel-slides[class][class] {
  contain: var(--contentscroller_contain);
  contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
  content-visibility: var(--contentscroller_content-visibility);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(
    --contentscroller_auto-columns,
    calc(
      (
          100% - var(--contentscroller_gap, 16px) *
            (var(--contentscroller_visible-items, unset) - 1)
        ) / var(--contentscroller_visible-items, unset)
    )
  );
  gap: var(--contentscroller_gap, 16px);
  grid-template-rows: var(--contentscroller_rows, none);
  justify-content: flex-start;
  min-height: var(--contentscroller_min-height);
  height: var(--contentscroller_height);
  overflow: var(--contentscroller_overflow, auto hidden);
  overscroll-behavior-inline: contain;
  padding-block-start: var(--contentscroller_padding-block-start, unset);
  padding-block-end: var(--contentscroller_padding-block-end, unset);
  padding-inline-start: var(
    --contentscroller_padding-inline-start,
    var(--contentscroller_peek, 32px)
  );
  padding-inline-end: var(
    --contentscroller_padding-inline-end,
    var(--contentscroller_peek, 32px)
  );
  scroll-padding-inline: var(--contentscroller_peek, 32px);
  scrollbar-width: none;
  touch-action: var(--contentscroller_touch-action, pan-x pan-y pinch-zoom);
}
@media (min-width: 744px) {
  .cards-wrapper {
    margin-top: 16px;
  }
}
.card__carousel-slides[class][class] {
  contain: var(--contentscroller_contain);
  contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
  content-visibility: var(--contentscroller_content-visibility);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(
    --contentscroller_auto-columns,
    calc(
      (
          100% - var(--contentscroller_gap, 16px) *
            (var(--contentscroller_visible-items, unset) - 1)
        ) / var(--contentscroller_visible-items, unset)
    )
  );
  gap: var(--contentscroller_gap, 16px);
  grid-template-rows: var(--contentscroller_rows, none);
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: var(--contentscroller_min-height);
  height: var(--contentscroller_height);
  overflow: var(--contentscroller_overflow, auto hidden);
  overscroll-behavior-inline: contain;
  padding-block-start: var(--contentscroller_padding-block-start, unset);
  padding-block-end: var(--contentscroller_padding-block-end, unset);
  -webkit-scroll-padding-inline: var(--contentscroller_peek, 32px);
  -moz-scroll-padding-inline: var(--contentscroller_peek, 32px);
  -ms-scroll-padding-inline: var(--contentscroller_peek, 32px);
  scroll-padding-inline: var(--contentscroller_peek, 32px);
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  touch-action: var(--contentscroller_touch-action, pan-x pan-y pinch-zoom);
}
@supports not (aspect-ratio: 1 / 1) {
  .card__carousel-slides-wrapper[class][class] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  .dir-ltr.card__carousel-slides-wrapper[class][class] {
    left: 0;
    right: 0;
  }
  .dir-rtl.card__carousel-slides-wrapper[class][class] {
    right: 0;
    left: 0;
  }
}
.card__carousel[class][class] {
  grid-area: var(--contentscroller_scroller_grid-area, scroller);
  margin-block-start: var(--contentscroller_scroller_margin-block-start, unset);
  margin-block-end: var(--contentscroller_scroller_margin-block-end, unset);
  margin-inline-start: var(
    --contentscroller_scroller_margin-inline-start,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
  margin-inline-end: var(
    --contentscroller_scroller_margin-inline-end,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
  place-self: var(--contentscroller_scroller_place-self, auto);
}
.card__controls-wrapper[class][class] {
  grid-area: var(--contentscroller_controls_grid-area, header);
  margin-block-start: var(--contentscroller_controls_margin-block-start, unset);
  margin-block-end: var(--contentscroller_controls_margin-block-end, unset);
  margin-inline-start: var(
    --contentscroller_controls_margin-inline-start,
    unset
  );
  margin-inline-end: var(--contentscroller_controls_margin-inline-end, unset);
  place-self: var(--contentscroller_controls_place-self, auto end);
  pointer-events: var(--contentscroller_controls_pointer-events);
  z-index: var(--contentscroller_controls_z-index, auto);
}
.card__carousel-slides[class][class] {
  contain: var(--contentscroller_contain);
  contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
  content-visibility: var(--contentscroller_content-visibility);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(
    --contentscroller_auto-columns,
    calc(
      (
          100% - var(--contentscroller_gap, 16px) *
            (var(--contentscroller_visible-items, unset) - 1)
        ) / var(--contentscroller_visible-items, unset)
    )
  );
  gap: var(--contentscroller_gap, 16px);
  grid-template-rows: var(--contentscroller_rows, none);
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: var(--contentscroller_min-height);
  height: var(--contentscroller_height);
  overflow: var(--contentscroller_overflow, auto hidden);
  overscroll-behavior-inline: contain;
  padding-block-start: var(--contentscroller_padding-block-start, unset);
  padding-block-end: var(--contentscroller_padding-block-end, unset);
  padding-inline-start: var(
    --contentscroller_padding-inline-start,
    var(--contentscroller_peek, 32px)
  );
  padding-inline-end: var(
    --contentscroller_padding-inline-end,
    var(--contentscroller_peek, 32px)
  );
  -webkit-scroll-padding-inline: var(--contentscroller_peek, 32px);
  -moz-scroll-padding-inline: var(--contentscroller_peek, 32px);
  -ms-scroll-padding-inline: var(--contentscroller_peek, 32px);
  scroll-padding-inline: var(--contentscroller_peek, 32px);
  -webkit-scrollbar-width: none;
  -moz-scrollbar-width: none;
  -ms-scrollbar-width: none;
  scrollbar-width: none;
  touch-action: var(--contentscroller_touch-action, pan-x pan-y pinch-zoom);
}
.dir.card__carousel-slides[class][class] {
  margin: 0;
}
@supports (-webkit-scroll-behavior: smooth) or (-moz-scroll-behavior: smooth) or
  (-ms-scroll-behavior: smooth) or (scroll-behavior: smooth) {
  .card__carousel-slides[class][class] {
    -webkit-scroll-snap-type: var(
      --contentscroller_scrollsnaptype,
      inline mandatory
    );
    -moz-scroll-snap-type: var(
      --contentscroller_scrollsnaptype,
      inline mandatory
    );
    -ms-scroll-snap-type: var(
      --contentscroller_scrollsnaptype,
      inline mandatory
    );
    scroll-snap-type: var(--contentscroller_scrollsnaptype, inline mandatory);
  }
}
.card__carousel-slides[class][class] > :nth-child(n) {
  -webkit-scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  -moz-scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  -ms-scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  -webkit-scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
  -moz-scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
  -ms-scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
  scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
}
.card__carousel-desc[class][class] {
  -webkit-clip: rect(0 0 0 0);
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
@supports (aspect-ratio: 1 / 1) {
  .card__carousel-wrapper[class][class] {
    aspect-ratio: var(--aspect_ratio_wrapper-ratio, unset);
  }
}
@supports not (aspect-ratio: 1 / 1) {
  .card__carousel-wrapper[class][class] {
    position: var(--aspect_ratio_wrapper-position_fallback, unset);
  }
  .dir.card__carousel-wrapper[class][class] {
    padding-top: var(--aspect_ratio_wrapper-padding_fallback, 0);
  }
}
.card__carousel-slides-wrapper[class][class] {
  height: 100%;
  min-width: 0;
  position: unset;
}
@supports not (aspect-ratio: 1 / 1) {
  .card__carousel-slides-wrapper[class][class] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
  }
  .dir.card__carousel-slides-wrapper[class][class] {
    left: 0;
    right: 0;
  }
}
.card__carousel[class][class] {
  grid-area: var(--contentscroller_scroller_grid-area, scroller);
  margin-block-start: var(--contentscroller_scroller_margin-block-start, unset);
  margin-block-end: var(--contentscroller_scroller_margin-block-end, unset);
  place-self: var(--contentscroller_scroller_place-self, auto);
}
.dir.card__carousel[class][class] {
  margin-inline-start: var(
    --contentscroller_scroller_margin-inline-start,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
  margin-inline-end: var(
    --contentscroller_scroller_margin-inline-end,
    calc(-1 * var(--contentscroller_peek, 32px))
  );
}
.card__controls-wrapper[class][class] {
  grid-area: var(--contentscroller_controls_grid-area, header);
  margin-block-start: var(--contentscroller_controls_margin-block-start, unset);
  margin-block-end: var(--contentscroller_controls_margin-block-end, unset);
  place-self: var(--contentscroller_controls_place-self, auto end);
  pointer-events: var(--contentscroller_controls_pointer-events);
  z-index: var(--contentscroller_controls_z-index, auto);
}
.dir.card__controls-wrapper[class][class] {
  margin-inline-start: var(
    --contentscroller_controls_margin-inline-start,
    unset
  );
  margin-inline-end: var(--contentscroller_controls_margin-inline-end, unset);
}
.card__carousel-desc-wrapper[class][class] {
  display: grid;
  grid-template: var(
    --contentscroller_layout_grid-template,
    'header' 'scroller' 'footer' / minmax(0, 1fr)
  );
}
.card__carousel-slides[class][class] {
  contain: var(--contentscroller_contain);
  contain-intrinsic-size: var(--contentscroller_contain-intrinsic-size);
  content-visibility: var(--contentscroller_content-visibility);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(
    --contentscroller_auto-columns,
    calc(
      (
          100% - var(--contentscroller_gap, 16px) *
            (var(--contentscroller_visible-items, unset) - 1)
        ) / var(--contentscroller_visible-items, unset)
    )
  );
  gap: var(--contentscroller_gap, 16px);
  grid-template-rows: var(--contentscroller_rows, none);
  justify-content: flex-start;
  min-height: var(--contentscroller_min-height);
  height: var(--contentscroller_height);
  overflow: var(--contentscroller_overflow, auto hidden);
  overscroll-behavior-inline: contain;
  padding-block-start: var(--contentscroller_padding-block-start, unset);
  padding-block-end: var(--contentscroller_padding-block-end, unset);
  scroll-padding-inline: var(--contentscroller_peek, 32px);
  scrollbar-width: none;
  touch-action: var(--contentscroller_touch-action, pan-x pan-y pinch-zoom);
}
.dir.card__carousel-slides[class][class] {
  margin: 0;
  padding-inline-start: var(
    --contentscroller_padding-inline-start,
    var(--contentscroller_peek, 32px)
  );
  padding-inline-end: var(
    --contentscroller_padding-inline-end,
    var(--contentscroller_peek, 32px)
  );
}
@supports (scroll-behavior: smooth) {
  .card__carousel-slides[class][class] {
    scroll-snap-type: var(--contentscroller_scrollsnaptype, inline mandatory);
  }
}
.card__carousel-slides[class][class]::-webkit-scrollbar {
  display: none;
}
.card__carousel-slides[class][class] > :nth-child(n) {
  scroll-snap-align: var(--contentscroller_scrollsnapalign, start);
  scroll-snap-stop: var(--contentscroller_scrollsnapstop, normal);
}
.card__carousel-desc[class][class] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  overflow: clip;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.dir.card__carousel-desc[class][class] {
  border: 0;
  padding: 0;
}
.card__media-container {
  position: absolute !important;
  inset: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
.card__media {
  position: relative !important;
  width: 100% !important;
  z-index: 0 !important;
  padding-top: var(--dls-basecard-padding-top) !important;
}
.card__media-container {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 100% !important;
  width: 100% !important;
}
.card__media-rounded {
  border-radius: 8px !important;
  height: 100% !important;
  overflow: hidden !important;
  width: 100% !important;
}
@media (min-width: 744px) {
  .card__media-rounded {
    border-radius: 12px !important;
  }
}
/* /Card */
