/*! ----------- */
/*! Card Alt 2  */
/*! ----------- */
.card-alt-2__img-wrapper {
  position: absolute !important;
  inset: 0 !important;
}
.card-alt-2__overlay {
  position: absolute !important;
  inset: 0 !important;
  padding: 24px 0 16px !important;
}
.card-alt-2__overlay-text {
  position: relative !important;
  display: block !important;
  text-align: center !important;
}
.card-alt-2__overlay-subtitle {
  position: absolute !important;
  width: 100% !important;
  margin: 0 auto !important;
  top: -36px !important;
}
.card-alt-2__overlay-title {
  position: relative !important;
  font-size: 32px !important;
  line-height: 36px !important;
  letter-spacing: normal !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  text-transform: uppercase !important;
  color: #484848 !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  font-weight: 800 !important;
  white-space: nowrap !important;
}
@media (min-width: 744px) {
  .card-alt-2__overlay-title {
    font-size: 46px !important;
    line-height: 52px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Helvetica Neue', sans-serif !important;
    color: #484848 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
@media (min-width: 1128px) {
  .card-alt-2__overlay-title {
    font-size: 32px !important;
    line-height: 36px !important;
    letter-spacing: normal !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      'Helvetica Neue', sans-serif !important;
    color: #484848 !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
}
.card-alt-2__underline-wrapper {
  position: absolute !important;
  right: 0 !important;
  left: 10% !important;
  top: 100% !important;
  width: 80% !important;
  margin-top: -25px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
@media (min-width: 744px) {
  .card-alt-2__underline-wrapper {
    margin-top: -40px !important;
  }
}
@media (min-width: 1128px) {
  .card-alt-2__underline-wrapper {
    margin-top: -25px !important;
  }
}
.card-alt-2__title {
  margin: 0 !important;
  word-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  font-size: 12px !important;
  font-weight: 800 !important;
  line-height: 1.3333333333333333em !important;
  color: #484848 !important;
}
.card-alt-2__title-uppercase {
  text-transform: uppercase !important;
  font-size: 12px !important;
}
@media (min-width: 1128px) {
  .card-alt-2__text-wrapper {
    width: 85% !important;
  }
}
.card-alt-2__letter-spacing {
  letter-spacing: 0.2px !important;
}
.card-alt-2 {
  display: block !important;
}
.card-alt-2__text {
  margin: 0 !important;
  overflow-wrap: break-word !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.28571em !important;
  color: #484848 !important;
}
