/*! ----------- */
/*! Card Alt 3  */
/*! ----------- */
.card-alt-3 {
  background: 0 0 !important;
  border: none !important;
  color: inherit !important;
  cursor: pointer !important;
  display: block !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: inherit !important;
  text-decoration: none !important;
  height: 100% !important;
  width: 100% !important;
  -ms-touch-action: manipulation !important;
  touch-action: manipulation !important;
}
.card-alt-3__lite-image-wrapper {
  border-radius: 8px !important;
  margin-bottom: 8px !important;
  overflow: hidden !important;
}
@media (min-width: 744px) {
  .card-alt-3__lite-image-wrapper {
    border-radius: 12px !important;
  }
}
@media (min-width: 1128px) {
  .card-alt-3__lite-image-wrapper {
    margin-bottom: 24px !important;
  }
}
.card-alt-3__title {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 800 !important;
  margin-bottom: 4px !important;
}
@media (min-width: 1128px) {
  .card-alt-3__title {
    font-size: 18px !important;
    line-height: 24px !important;
  }
}
.card-alt-3__subtitle {
  margin-bottom: 4px !important;
}
@media (min-width: 1128px) {
  .card-alt-3__subtitle {
    margin-bottom: 8px !important;
  }
}
@media (min-width: 1128px) {
  .card-alt-3__text {
    font-size: 16px !important;
    line-height: 24px !important;
    padding: 0 20px !important;
  }
}
