:root {
  font-size: 14px;
  --transition-duration: 300ms;
  --primary-color: #ff385c;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b22;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: #c8c8c8;
}

section {
  margin-top: 10rem;
  margin-bottom: 4rem;
}

.container {
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 2rem;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: var(--transition-duration);
}

a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 1.25rem;
  font-family: 'Merriweather', serif;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #ffff;
}

@media (min-width: 576px) {
  h1 {
    text-align: center;
  }
}

input {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.input-search {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  background: #000;
  color: #ffff;
  padding: 1rem 1.5rem;
  font-family: 'Merriweather', serif;
  margin-bottom: 1rem;
  opacity: 1;
  transition: var(--transition-duration);
}

.input-search:hover,
.input-search:focus,
.input-search:valid {
  transform: translateX(-50%) scale(1);
}

.input-search::placeholder {
  color: inherit;
}

.input-search--scrolled {
  opacity: 0.5;
}

.hidden {
  display: none;
}

button {
  background: #32323a;
  padding: 0.75rem 1.5rem;
  font-family: 'Merriweather', serif;
  margin-bottom: 0.5rem;
  transition: var(--transition-duration);
  border: none;
  cursor: pointer;
  color: inherit;
}

@media (min-width: 576px) {
  button {
    width: 100%;
  }
}

button:hover {
  background: var(--primary-color);
  color: #ffff;
}
