._1ugan3i {
  position: fixed !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  background: #ffffff !important;
  webkit-transform: translate3d(0, 0, 0) !important;
}

._40iwxv {
  vertical-align: middle !important;
}

._z9dr48 {
  -webkit-box-pack: center !important;
  display: flex !important;
  position: relative !important;
  justify-content: center !important;
}

._12qhocje {
  width: 50% !important;
  background: none !important;
  border: 0px !important;
  cursor: pointer !important;
  top: 0px !important;
  height: 100% !important;
  font-size: 0.5em !important;
  position: absolute !important;
  z-index: 1 !important;
  left: 0px !important;
  text-align: left !important;
}

._1u9fru1 {
  display: none !important;
}

._1q5yq3s {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

._1gcx0s8 {
  width: 604px !important;
  margin: 0px auto 16px !important;
}

@media (min-width: 744px) {
  ._40iwxv {
    padding: 40px !important;
    height: 65vh !important;
    width: 100vw !important;
    display: table-cell !important;
  }
  ._1llxo8x {
    right: 0px !important;
    margin-top: 40px !important;
    margin-right: 40px !important;
  }
}

@media (min-width: 1128px) {
  ._1od2xb8 {
    display: table !important;
  }

  ._z9dr48 {
    height: 100% !important;
  }

  ._rgyfiy {
    display: table-row !important;
  }

  ._1q5yq3s {
    margin: 0px !important;
    width: 100% !important;
    padding-right: 52px !important;
  }
  ._o00axf {
    padding-top: 104px !important;
    display: table-cell !important;
    vertical-align: top !important;
    width: 264px !important;
    min-width: 264px !important;
  }

  ._1gcx0s8 {
    width: auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 32px !important;
  }

  ._40iwxv {
    width: 100% !important;
    margin-bottom: 0px !important;
    height: 100vh !important;
  }

  ._17vo0vv {
    max-height: 75vh !important;
  }
}

@media (min-width: 1440px) {
  ._1umg7png {
    width: 64px !important;
    height: 64px !important;
  }

  ._o00axf {
    padding-top: 152px !important;
    min-width: 384px !important;
  }

  ._1llxo8x {
    margin-top: 64px !important;
    margin-right: 64px !important;
  }

  ._1gcx0s8 {
    margin-bottom: 48px !important;
  }

  ._1iwi6a4 {
    width: 32px !important;
    height: 96px !important;
  }

  ._zf7q4 {
    width: 8080px !important;
  }
  ._40iwxv {
    padding: 64px !important;
  }

  ._2fozrm {
    height: 96px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }

  ._12n0r6ug {
    margin-left: 16px !important;
  }

  ._hwcst {
    width: 64px !important;
    height: 64px !important;
  }

  ._yoviva {
    padding-right: 64px !important;
  }

  ._1p3joamp {
    margin: 0px !important;
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
  }

  ._1dcp06s {
    word-break: break-word !important;
  }

  ._czm8crp {
    margin: 0px !important;
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
      "Helvetica Neue", sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.375em !important;
    color: rgb(72, 72, 72) !important;
  }
}

._1od2xb8 {
  width: 100% !important;
  height: 100% !important;
}

._17vo0vv {
  visibility: hidden !important;
  max-height: 55vh !important;
  max-width: 85% !important;
}

._1rp5252 {
  cursor: pointer !important;
  background-color: transparent !important;
  color: buttontext !important;
  border: 0px !important;
  display: block !important;
}

._1llxo8x {
  position: absolute !important;
  z-index: 4 !important;
}

._wlnonhg {
  width: 50% !important;
  background: none !important;
  border: 0px !important;
  cursor: pointer !important;
  top: 0px !important;
  height: 100% !important;
  font-size: 0.5em !important;
  position: absolute !important;
  z-index: 1 !important;
  text-align: right !important;
  right: 0px !important;
}

._q3au4a {
  overflow: hidden !important;
  max-width: 105vh !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

._cw8pnk {
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative !important;
  transform: translateY(0px) !important;
  transition: -ms-transform 0.2s ease-out 0s, -webkit-transform 0.2s ease-out 0s,
    transform 0.2s ease-out 0s !important;
}

._1iwi6a4 {
  position: absolute !important;
  right: 0px !important;
  height: 64px !important;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 90.82%
  ) !important;
  z-index: 1 !important;
  width: 20px !important;
}

._2fozrm {
  position: relative !important;
  overflow: hidden !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  height: 64px !important;
}

._zf7q4 {
  position: absolute !important;
  width: 5656px !important;
}

._1y6wdia {
  float: left !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 4px !important;
}

._1umg7png {
  font-weight: inherit !important;
  backface-visibility: hidden !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align: bottom !important;
  overflow: hidden !important;
  background: transparent !important;
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 48px;
  height: 48px;
  opacity: 1 !important;
  cursor: default !important;
  box-shadow: rgb(0 0 0 / 16%) 0px 0px 8px 2px, rgb(72 72 72) 0px 0px 0px 2px !important;
  border-radius: 4px !important;
}

._u6tx3c {
  border-radius: 4px !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  height: 100% !important;
  width: auto !important;
  transform: translate(-50%, -50%) !important;
}

._12n0r6ug {
  float: left !important;
  background-color: rgb(255, 255, 255) !important;
  border-radius: 4px !important;
  margin-left: 8px !important;
}

._hwcst {
  font-weight: inherit !important;
  opacity: 0.7 !important;
  backface-visibility: hidden !important;
  position: relative !important;
  display: inline-block !important;
  vertical-align: bottom !important;
  overflow: hidden !important;
  background: transparent !important;
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 4px !important;
  width: 48px !important;
  height: 48px !important;
}

._conlnu {
  position: absolute !important;
  transition: -ms-transform 0.3s ease-out 0s, -webkit-transform 0.3s ease-out 0s,
    transform 0.3s ease-out 0s !important;
  list-style-type: none !important;
  margin: 0px !important;
  padding: 0px 0px 0px 8px !important;
  left: 0px !important;
}
