._yl7bo1 {
  margin-bottom: 32px !important;
  width: 64px !important;
}
@media (min-width: 744px){
  ._yl7bo1 {
    width: 96px !important;
  }
}

._14i3z6h {
  color: inherit !important;
  font-size: 1em !important;
  font-weight: inherit !important;
  line-height: inherit !important;
  margin: 0px !important;
  padding: 0px !important;
}

._15thk4s {
  font-size: 26px !important;
  line-height: 30px !important;
}

@media (min-width: 1128px){
  ._15thk4s {
    font-size: 32px !important;
    line-height: 36px !important;
  }
}

._1byskwn {
  -moz-box-pack: start !important;
  -moz-box-align: stretch !important;
  display: flex !important;
  align-items: stretch !important;
  justify-content: flex-start !important;
  flex-wrap: wrap !important;
  width: calc(100% + 12px) !important;
  margin-left: -6px !important;
  margin-right: -6px !important;
}

@media (min-width: 1440px){
  ._1byskwn {
    margin-left: -8px !important;
    margin-right: -8px !important;
    width: calc(100% + 16px) !important;
  }

}
@media (min-width: 1128px){
  ._1byskwn {
    margin-left: -8px !important;
    margin-right: -8px !important;
    width: calc(100% + 16px) !important;
  }
}
@media (min-width: 950px){
  ._1byskwn {
    margin-left: -8px !important;
    margin-right: -8px !important;
    width: calc(100% + 16px) !important;
  }
}

@media (min-width: 744px){
  ._1byskwn {
    margin-left: -8px !important;
    margin-right: -8px !important;
    width: calc(100% + 16px) !important;
  }
}
@media (min-width: 375px){
  ._1byskwn {
    margin-left: -6px !important;
    margin-right: -6px !important;
    width: calc(100% + 12px) !important;
  }
}

._lzotvt {
  color: rgb(34, 34, 34) !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 28px !important;
  margin-top: 40px !important;
 }

@media (min-width: 744px){
  ._lzotvt {
    margin-top: 24px !important;
  }
}

._y8lhwe {
  margin-top: 32px !important;
}

@media (min-width: 1128px){
  ._y8lhwe {
    margin-top: 64px !important;
  }
}
@media (min-width: 744px){
  ._y8lhwe {
    margin-top: 40px !important;
  }
}

._1sikdxcl {
  font-size: inherit !important;
  font-family: inherit !important;
  font-style: inherit !important;
  font-variant: inherit !important;
  line-height: inherit !important;
  color: rgb(34, 34, 34) !important;
  border-radius: 4px !important;
  font-weight: 600 !important;
  text-align: inherit !important;
  outline: none !important;
  text-decoration: underline !important;
}

.atm_9s_116y0ak {
  display: inline-flex;
}

.atm_h_1h6ojuz.atm_h_1h6ojuz {
  align-items: center;
}
.atm_ar_vrvcex.atm_ar_vrvcex {
  flex-direction: row;
}
.dir-ltr.atm_gz_1y44olf.atm_gz_1y44olf {
  margin-left: 4px;
}
