/*! GRID CLASSES */
.row {
  display: grid;
  -webkit-column-gap: 16px;
  column-gap: 16px;
  grid-template-columns: repeat(12,1fr);
  row-gap: 0
}
.row > * {
  grid-column-start: 1;
  grid-column-end: -1
}
@media (max-width:743.98px) {
  .row {
    -webkit-column-gap: 12px;
    column-gap: 12px
  }
}
@media (max-width:949.98px) {
  .row {
    display: grid;
    -webkit-column-gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(6,1fr);
    row-gap: 0
  }
}
@media (max-width:949.98px) and (max-width:743.98px) {
  .row {
    -webkit-column-gap: 12px;
    column-gap: 12px
  }
}
@media (max-width:743.98px) {
  .row {
    display: grid;
    -webkit-column-gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(4,1fr);
    row-gap: 0;
    -webkit-column-gap: 12px;
    column-gap: 12px
  }
}
@media (max-width:743.98px) and (max-width:743.98px) {
  .row {
    -webkit-column-gap: 12px;
    column-gap: 12px
  }
}
.col-5 {
  position: relative;
  grid-column: span 5
}
.col-md-2 {
  position: relative
}
@media (min-width:744px) {
  .col-md-2 {
    width: 16.66667%;
    float: left
  }
  .col-md-9 {
    width: 75%;
    float: left
  }
}
@media (min-width:1128px) {
  .col-xl-3 {
    width: 25%;
    float: left
  }
  .col-xl-6 {
    width: 50%;
    float: left
  }
}
@media (min-width:744px) {
  .col-md-2 {
    grid-column: span 2
  }
}
.col-mdpl-4 {
  position: relative
}
@media (min-width:950px) {
  .col-mdpl-4 {
    grid-column: span 4
  }
}
.col-xl-3 {
  position: relative
}
@media (min-width:1128px) {
  .col-xl-3 {
    grid-column: span 3
  }
}
.col-xl-6 {
  position: relative
}
@media (min-width:1128px) {
  .col-xl-6 {
    grid-column: span 6
  }
}
