*,
:after,
:before {
  -ms-flex: 0 1 auto
}
*,
:after,
:before,
hr,
hr:after,
hr:before,
input[type=search],
input[type=search]:after,
input[type=search]:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-break: strict;
  overflow-x: hidden
}
