/*! CSS VARIABLES */
:root {
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
  --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
  --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
  --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
  --black: #000000;
  --gray-900: #222222;
  --gray-500: #717171;
  --gray-400: #b0b0b0;
  --gray-300: #dddddd;
  --gray-200: #ebebeb;
  --gray-100: #f7f7f7;
  --white: #ffffff;
  --danger-color: #c13515;
  --light-danger-color: #fff8f6;
  --warning-color: #e07912;
  --success-color: #008a05;
  --info-color: #428bff;
  --primary-color: #ff385c;
  --gradient-alt-1: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --gradient-alt-2: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --gradient-alt-3: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --gradient-alt-4: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --gradient-alt-5: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --gradient-alt-6: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --spacer-6: 24px;
  --spacer-7: 32px;
  --spacer-8: 40px;
  --spacer-9: 48px;
  --spacer-10: 64px;
  --spacer-11: 80px;
  --spacer-1: 2px;
  --spacer-2: 4px;
  --spacer-3: 8px;
  --spacer-4: 12px;
  --spacer-5: 16px;
  --spacer-6: 24px;
  --spacer-7: 32px;
  --font-family: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
    'Helvetica Neue', sans-serif;
  --font-size-md: 18px;
  --line-height-lg: 22px;
  --font-size-lg: 22px;
  --line-height-xxl: 26px;
  --font-size-xl: 26px;
  --line-height-3xl: 30px;
  --font-size-xxl: 32px;
  --line-height-4xl: 36px;
  --font-size-xxs: 10px;
  --line-height-xxs: 12px;
  --font-size-xs: 12px;
  --line-height-xs: 16px;
  --font-size-sm: 14px;
  --line-height-sm: 18px;
  --font-size-sm: 14px;
  --line-height-md: 20px;
  --font-size: 16px;
  --line-height-md: 20px;
  --font-size: 16px;
  --line-height-xl: 24px;
  --font-size-md: 18px;
  --line-height-xl: 24px;
  --font-size-md: 18px;
  --line-height-2xl: 28px;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  --letter-spacing: 0.04em;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
  --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
  --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
  --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
  --black: #000000;
  --gray-900: #222222;
  --gray-500: #717171;
  --gray-400: #b0b0b0;
  --gray-300: #dddddd;
  --gray-200: #ebebeb;
  --gray-100: #f7f7f7;
  --white: #ffffff;
  --danger-color: #c13515;
  --light-danger-color: #fff8f6;
  --warning-color: #e07912;
  --success-color: #008a05;
  --info-color: #428bff;
  --primary-color: #ff385c;
  --gradient-alt-1: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --gradient-alt-2: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --gradient-alt-3: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --gradient-alt-4: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --gradient-alt-5: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --gradient-alt-6: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --spacer-6: 24px;
  --spacer-7: 32px;
  --spacer-8: 40px;
  --spacer-9: 48px;
  --spacer-10: 64px;
  --spacer-11: 80px;
  --spacer-1: 2px;
  --spacer-2: 4px;
  --spacer-3: 8px;
  --spacer-4: 12px;
  --spacer-5: 16px;
  --spacer-6: 24px;
  --spacer-7: 32px;
  --font-family: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
    'Helvetica Neue', sans-serif;
  --font-size-md: 18px;
  --line-height-lg: 22px;
  --font-size-lg: 22px;
  --line-height-xxl: 26px;
  --font-size-xl: 26px;
  --line-height-3xl: 30px;
  --font-size-xxl: 32px;
  --line-height-4xl: 36px;
  --font-size-xxs: 10px;
  --line-height-xxs: 12px;
  --font-size-xs: 12px;
  --line-height-xs: 16px;
  --font-size-sm: 14px;
  --line-height-sm: 18px;
  --font-size-sm: 14px;
  --line-height-md: 20px;
  --font-size: 16px;
  --line-height-md: 20px;
  --font-size: 16px;
  --line-height-xl: 24px;
  --font-size-md: 18px;
  --line-height-xl: 24px;
  --font-size-md: 18px;
  --line-height-2xl: 28px;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  --letter-spacing: 0.04em;
  --jp-carousel-primary-color: #fff;
  --jp-carousel-primary-subtle-color: #999;
  --jp-carousel-bg-color: #000;
  --jp-carousel-bg-faded-color: #222;
  --jp-carousel-border-color: #3a3a3a;
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px;
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
  --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
  --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
  --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
  --black: #000000;
  --gray-900: #222222;
  --gray-500: #717171;
  --gray-400: #b0b0b0;
  --gray-300: #dddddd;
  --gray-200: #ebebeb;
  --gray-100: #f7f7f7;
  --white: #ffffff;
  --danger-color: #c13515;
  --light-danger-color: #fff8f6;
  --warning-color: #e07912;
  --success-color: #008a05;
  --info-color: #428bff;
  --primary-color: #ff385c;
  --gradient-alt-1: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --gradient-alt-2: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --gradient-alt-3: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --gradient-alt-4: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --gradient-alt-5: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --gradient-alt-6: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --spacer-6: 24px;
  --spacer-7: 32px;
  --spacer-8: 40px;
  --spacer-9: 48px;
  --spacer-10: 64px;
  --spacer-11: 80px;
  --spacer-1: 2px;
  --spacer-2: 4px;
  --spacer-3: 8px;
  --spacer-4: 12px;
  --spacer-5: 16px;
  --spacer-6: 24px;
  --spacer-7: 32px;
  --font-family: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
    'Helvetica Neue', sans-serif;
  --font-size-md: 18px;
  --line-height-lg: 22px;
  --font-size-lg: 22px;
  --line-height-xxl: 26px;
  --font-size-xl: 26px;
  --line-height-3xl: 30px;
  --font-size-xxl: 32px;
  --line-height-4xl: 36px;
  --font-size-xxs: 10px;
  --line-height-xxs: 12px;
  --font-size-xs: 12px;
  --line-height-xs: 16px;
  --font-size-sm: 14px;
  --line-height-sm: 18px;
  --font-size-sm: 14px;
  --line-height-md: 20px;
  --font-size: 16px;
  --line-height-md: 20px;
  --font-size: 16px;
  --line-height-xl: 24px;
  --font-size-md: 18px;
  --line-height-xl: 24px;
  --font-size-md: 18px;
  --line-height-2xl: 28px;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 800;
  --letter-spacing: 0.04em;
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color--rgb: 0, 124, 186;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
  --wp-admin-theme-color-darker-20: #005a87;
  --wp-admin-theme-color-darker-20--rgb: 0, 90, 135;
  --wp-admin-border-width-focus: 2px;
  --reach-combobox: 1;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  :root {
    --border-radius-sm: 4px;
    --border-radius: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 20px;
    --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
    --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
    --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
    --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
    --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
    --black: #000000;
    --gray-900: #222222;
    --gray-500: #717171;
    --gray-400: #b0b0b0;
    --gray-300: #dddddd;
    --gray-200: #ebebeb;
    --gray-100: #f7f7f7;
    --white: #ffffff;
    --danger-color: #c13515;
    --light-danger-color: #fff8f6;
    --warning-color: #e07912;
    --success-color: #008a05;
    --info-color: #428bff;
    --primary-color: #ff385c;
    --gradient-alt-1: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
    --gradient-alt-2: radial-gradient(
      circle at center,
      #ff385c 0%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 100%
    );
    --gradient-alt-3: linear-gradient(
      to right,
      #bd1e59 0%,
      #92174d 50%,
      #861453 100%
    );
    --gradient-alt-4: radial-gradient(
      circle at center,
      #d70466 0%,
      #bd1e59 30%,
      #92174d 55%,
      #861453 72.5%,
      #6c0d63 90%,
      #6c0d63 100%
    );
    --gradient-alt-5: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
    --gradient-alt-6: radial-gradient(
      circle at center,
      #6c0d63 0%,
      #59086e 30%,
      #460479 55%,
      #440589 72.5%,
      #3b07bb 90%,
      #3b07bb 100%
    );
    --spacer-6: 24px;
    --spacer-7: 32px;
    --spacer-8: 40px;
    --spacer-9: 48px;
    --spacer-10: 64px;
    --spacer-11: 80px;
    --spacer-1: 2px;
    --spacer-2: 4px;
    --spacer-3: 8px;
    --spacer-4: 12px;
    --spacer-5: 16px;
    --spacer-6: 24px;
    --spacer-7: 32px;
    --font-family: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
      'Helvetica Neue', sans-serif;
    --font-size-md: 18px;
    --line-height-lg: 22px;
    --font-size-lg: 22px;
    --line-height-xxl: 26px;
    --font-size-xl: 26px;
    --line-height-3xl: 30px;
    --font-size-xxl: 32px;
    --line-height-4xl: 36px;
    --font-size-xxs: 10px;
    --line-height-xxs: 12px;
    --font-size-xs: 12px;
    --line-height-xs: 16px;
    --font-size-sm: 14px;
    --line-height-sm: 18px;
    --font-size-sm: 14px;
    --line-height-md: 20px;
    --font-size: 16px;
    --line-height-md: 20px;
    --font-size: 16px;
    --line-height-xl: 24px;
    --font-size-md: 18px;
    --line-height-xl: 24px;
    --font-size-md: 18px;
    --line-height-2xl: 28px;
    --font-weight-normal: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 800;
    --letter-spacing: 0.04em;
    --wp-admin-border-width-focus: 1.5px;
  }
}
