/* Root */
:root {
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
  --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
  --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
  --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
  --bgxgx: #000000;
  --f-k-smk-x: #222222;
  --fo-jk-r-s: #717171;
  --iw-ihca: #b0b0b0;
  --j-qkgmf: #dddddd;
  --d-nc-lt-s: #ebebeb;
  ---pc-g-v-g: #f7f7f7;
  --f-mkcy-f: #ffffff;
  --k-va-tnc: #c13515;
  --cnr-vp-o: #b32505;
  --f-p-k-v-lb: #fff8f6;
  --fhi-qn-u: #e07912;
  --k-ff-my-a: #008a05;
  --ldbkp-d: #428bff;
  --ihf-tp-q: #ff385c;
  --kd-lqtg: #92174d;
  --d-u-w-o-m-k: #460479;
  --dc-gy-f-v: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --d-e-vybb: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --gj-z-dpd: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --i-n-t-h-mj: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --j-m-v-dtd: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --jhzm-v-t: 16px;
  --ikx-k-pe: 24px;
  --kksqe-v: 32px;
  --f-fw-z-a-i: 40px;
  --cw-a-a-u-a: 48px;
  --fvsvry: 64px;
  --cy-o-aco: 80px;
  --d-b-mrdy: 2px;
  --h-x-sf-jw: 4px;
  --fgg-f-l-a: 8px;
  --b-y-unon: 12px;
  --jaa-ni-h: 16px;
  --ic-zlb-s: 24px;
  --kc-t-qr-j: 32px;
  --e-ls-qkw: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
    'Helvetica Neue', sans-serif;
  --fy-rs-ca: 18px;
  --d-ar-t-o-n: 22px;
  --lhy-d-yl: 22px;
  --fme-bf-w: 26px;
  --g-zgv-nj: 26px;
  --b-x-z-q-l-e: 30px;
  --cv-p-u-ui: 32px;
  --hu-t-o-g-n: 36px;
  --hr-k-udr: 10px;
  --dpgw-ac: 12px;
  --f-cv-j-j-p: 12px;
  --f-l-h-bac: 16px;
  --c-zdwk-p: 14px;
  --j-p-z-kco: 18px;
  --i-nh-zme: 14px;
  --gvarj-f: 20px;
  --iw-ehf-f: 16px;
  ---s-l-myu: 20px;
  --y-g-ar-y: 16px;
  --cb-pewj: 24px;
  --ll-l-ys-f: 18px;
  --f-xgviq: 24px;
  --kmwb-ss: 18px;
  --j-n-c-d-l-h: 28px;
  --e-y-j-d-v-j: 400;
  --jx-zk-pv: 600;
  --h-oqhch: 800;
  --g-lm-u-p: normal;
  --mq-yk-l: 0.04em;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
  --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
  --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
  --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
  --bgxgx: #000000;
  --f-k-smk-x: #222222;
  --fo-jk-r-s: #717171;
  --iw-ihca: #b0b0b0;
  --j-qkgmf: #dddddd;
  --d-nc-lt-s: #ebebeb;
  ---pc-g-v-g: #f7f7f7;
  --f-mkcy-f: #ffffff;
  --k-va-tnc: #c13515;
  --cnr-vp-o: #b32505;
  --f-p-k-v-lb: #fff8f6;
  --fhi-qn-u: #e07912;
  --k-ff-my-a: #008a05;
  --ldbkp-d: #428bff;
  --ihf-tp-q: #ff385c;
  --kd-lqtg: #92174d;
  --d-u-w-o-m-k: #460479;
  --dc-gy-f-v: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --d-e-vybb: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --gj-z-dpd: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --i-n-t-h-mj: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --j-m-v-dtd: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --jhzm-v-t: 16px;
  --ikx-k-pe: 24px;
  --kksqe-v: 32px;
  --f-fw-z-a-i: 40px;
  --cw-a-a-u-a: 48px;
  --fvsvry: 64px;
  --cy-o-aco: 80px;
  --d-b-mrdy: 2px;
  --h-x-sf-jw: 4px;
  --fgg-f-l-a: 8px;
  --b-y-unon: 12px;
  --jaa-ni-h: 16px;
  --ic-zlb-s: 24px;
  --kc-t-qr-j: 32px;
  --e-ls-qkw: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
    'Helvetica Neue', sans-serif;
  --fy-rs-ca: 18px;
  --d-ar-t-o-n: 22px;
  --lhy-d-yl: 22px;
  --fme-bf-w: 26px;
  --g-zgv-nj: 26px;
  --b-x-z-q-l-e: 30px;
  --cv-p-u-ui: 32px;
  --hu-t-o-g-n: 36px;
  --hr-k-udr: 10px;
  --dpgw-ac: 12px;
  --f-cv-j-j-p: 12px;
  --f-l-h-bac: 16px;
  --c-zdwk-p: 14px;
  --j-p-z-kco: 18px;
  --i-nh-zme: 14px;
  --gvarj-f: 20px;
  --iw-ehf-f: 16px;
  ---s-l-myu: 20px;
  --y-g-ar-y: 16px;
  --cb-pewj: 24px;
  --ll-l-ys-f: 18px;
  --f-xgviq: 24px;
  --kmwb-ss: 18px;
  --j-n-c-d-l-h: 28px;
  --e-y-j-d-v-j: 400;
  --jx-zk-pv: 600;
  --h-oqhch: 800;
  --g-lm-u-p: normal;
  --mq-yk-l: 0.04em;
  --jp-carousel-primary-color: #fff;
  --jp-carousel-primary-subtle-color: #999;
  --jp-carousel-bg-color: #000;
  --jp-carousel-bg-faded-color: #222;
  --jp-carousel-border-color: #3a3a3a;
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px;
  --border-radius-sm: 4px;
  --border-radius: 8px;
  --border-radius-lg: 12px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 20px;
  --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
  --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
  --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
  --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
  --bgxgx: #000000;
  --f-k-smk-x: #222222;
  --fo-jk-r-s: #717171;
  --iw-ihca: #b0b0b0;
  --j-qkgmf: #dddddd;
  --d-nc-lt-s: #ebebeb;
  ---pc-g-v-g: #f7f7f7;
  --f-mkcy-f: #ffffff;
  --k-va-tnc: #c13515;
  --cnr-vp-o: #b32505;
  --f-p-k-v-lb: #fff8f6;
  --fhi-qn-u: #e07912;
  --k-ff-my-a: #008a05;
  --ldbkp-d: #428bff;
  --ihf-tp-q: #ff385c;
  --kd-lqtg: #92174d;
  --d-u-w-o-m-k: #460479;
  --dc-gy-f-v: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%);
  --d-e-vybb: radial-gradient(
    circle at center,
    #ff385c 0%,
    #e61e4d 27.5%,
    #e31c5f 40%,
    #d70466 57.5%,
    #bd1e59 75%,
    #bd1e59 100%
  );
  --gj-z-dpd: linear-gradient(to right, #bd1e59 0%, #92174d 50%, #861453 100%);
  --i-n-t-h-mj: radial-gradient(
    circle at center,
    #d70466 0%,
    #bd1e59 30%,
    #92174d 55%,
    #861453 72.5%,
    #6c0d63 90%,
    #6c0d63 100%
  );
  --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
  --j-m-v-dtd: radial-gradient(
    circle at center,
    #6c0d63 0%,
    #59086e 30%,
    #460479 55%,
    #440589 72.5%,
    #3b07bb 90%,
    #3b07bb 100%
  );
  --jhzm-v-t: 16px;
  --ikx-k-pe: 24px;
  --kksqe-v: 32px;
  --f-fw-z-a-i: 40px;
  --cw-a-a-u-a: 48px;
  --fvsvry: 64px;
  --cy-o-aco: 80px;
  --d-b-mrdy: 2px;
  --h-x-sf-jw: 4px;
  --fgg-f-l-a: 8px;
  --b-y-unon: 12px;
  --jaa-ni-h: 16px;
  --ic-zlb-s: 24px;
  --kc-t-qr-j: 32px;
  --e-ls-qkw: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
    'Helvetica Neue', sans-serif;
  --fy-rs-ca: 18px;
  --d-ar-t-o-n: 22px;
  --lhy-d-yl: 22px;
  --fme-bf-w: 26px;
  --g-zgv-nj: 26px;
  --b-x-z-q-l-e: 30px;
  --cv-p-u-ui: 32px;
  --hu-t-o-g-n: 36px;
  --hr-k-udr: 10px;
  --dpgw-ac: 12px;
  --f-cv-j-j-p: 12px;
  --f-l-h-bac: 16px;
  --c-zdwk-p: 14px;
  --j-p-z-kco: 18px;
  --i-nh-zme: 14px;
  --gvarj-f: 20px;
  --iw-ehf-f: 16px;
  ---s-l-myu: 20px;
  --y-g-ar-y: 16px;
  --cb-pewj: 24px;
  --ll-l-ys-f: 18px;
  --f-xgviq: 24px;
  --kmwb-ss: 18px;
  --j-n-c-d-l-h: 28px;
  --e-y-j-d-v-j: 400;
  --jx-zk-pv: 600;
  --h-oqhch: 800;
  --g-lm-u-p: normal;
  --mq-yk-l: 0.04em;
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color--rgb: 0, 124, 186;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-10--rgb: 0, 107, 161;
  --wp-admin-theme-color-darker-20: #005a87;
  --wp-admin-theme-color-darker-20--rgb: 0, 90, 135;
  --wp-admin-border-width-focus: 2px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  :root {
    --border-radius-sm: 4px;
    --border-radius: 8px;
    --border-radius-lg: 12px;
    --border-radius-xl: 16px;
    --border-radius-2xl: 20px;
    --box-shadow-alt-1: 0 6px 20px rgba(0, 0, 0, 0.2);
    --box-shadow-alt-2: 0 6px 16px rgba(0, 0, 0, 0.12);
    --box-shadow-alt-3: 0 2px 4px rgba(0, 0, 0, 0.18);
    --timing-function-alt-1: cubic-bezier(0, 0, 0.1, 1);
    --timing-function-alt-2: cubic-bezier(0.35, 0, 0.65, 1);
    --bgxgx: #000000;
    --f-k-smk-x: #222222;
    --fo-jk-r-s: #717171;
    --iw-ihca: #b0b0b0;
    --j-qkgmf: #dddddd;
    --d-nc-lt-s: #ebebeb;
    ---pc-g-v-g: #f7f7f7;
    --f-mkcy-f: #ffffff;
    --k-va-tnc: #c13515;
    --cnr-vp-o: #b32505;
    --f-p-k-v-lb: #fff8f6;
    --fhi-qn-u: #e07912;
    --k-ff-my-a: #008a05;
    --ldbkp-d: #428bff;
    --ihf-tp-q: #ff385c;
    --kd-lqtg: #92174d;
    --d-u-w-o-m-k: #460479;
    --dc-gy-f-v: linear-gradient(
      to right,
      #e61e4d 0%,
      #e31c5f 50%,
      #d70466 100%
    );
    --d-e-vybb: radial-gradient(
      circle at center,
      #ff385c 0%,
      #e61e4d 27.5%,
      #e31c5f 40%,
      #d70466 57.5%,
      #bd1e59 75%,
      #bd1e59 100%
    );
    --gj-z-dpd: linear-gradient(
      to right,
      #bd1e59 0%,
      #92174d 50%,
      #861453 100%
    );
    --i-n-t-h-mj: radial-gradient(
      circle at center,
      #d70466 0%,
      #bd1e59 30%,
      #92174d 55%,
      #861453 72.5%,
      #6c0d63 90%,
      #6c0d63 100%
    );
    --iqds-nv: linear-gradient(to right, #59086e 0%, #460479 50%, #440589 100%);
    --j-m-v-dtd: radial-gradient(
      circle at center,
      #6c0d63 0%,
      #59086e 30%,
      #460479 55%,
      #440589 72.5%,
      #3b07bb 90%,
      #3b07bb 100%
    );
    --jhzm-v-t: 16px;
    --ikx-k-pe: 24px;
    --kksqe-v: 32px;
    --f-fw-z-a-i: 40px;
    --cw-a-a-u-a: 48px;
    --fvsvry: 64px;
    --cy-o-aco: 80px;
    --d-b-mrdy: 2px;
    --h-x-sf-jw: 4px;
    --fgg-f-l-a: 8px;
    --b-y-unon: 12px;
    --jaa-ni-h: 16px;
    --ic-zlb-s: 24px;
    --kc-t-qr-j: 32px;
    --e-ls-qkw: 'Circular', -apple-system, 'BlinkMacSystemFont', 'Roboto',
      'Helvetica Neue', sans-serif;
    --fy-rs-ca: 18px;
    --d-ar-t-o-n: 22px;
    --lhy-d-yl: 22px;
    --fme-bf-w: 26px;
    --g-zgv-nj: 26px;
    --b-x-z-q-l-e: 30px;
    --cv-p-u-ui: 32px;
    --hu-t-o-g-n: 36px;
    --hr-k-udr: 10px;
    --dpgw-ac: 12px;
    --f-cv-j-j-p: 12px;
    --f-l-h-bac: 16px;
    --c-zdwk-p: 14px;
    --j-p-z-kco: 18px;
    --i-nh-zme: 14px;
    --gvarj-f: 20px;
    --iw-ehf-f: 16px;
    ---s-l-myu: 20px;
    --y-g-ar-y: 16px;
    --cb-pewj: 24px;
    --ll-l-ys-f: 18px;
    --f-xgviq: 24px;
    --kmwb-ss: 18px;
    --j-n-c-d-l-h: 28px;
    --e-y-j-d-v-j: 400;
    --jx-zk-pv: 600;
    --h-oqhch: 800;
    --g-lm-u-p: normal;
    --mq-yk-l: 0.04em;
    --wp-admin-border-width-focus: 1.5px;
  }
}
/* /Root */
